<!-- 连接控制 -->
<div class="layui-form-item">
  <label class="layui-form-label">直播链接</label>
  <div class="layui-input-block">
    <div class="layui-input-wrap">
      <div class="layui-input-prefix"><i class="layui-icon layui-icon-website"></i></div>
      <input id="room-url-input" type="text" placeholder="请输入直播间地址" value="https://live.douyin.com/80017709309" autocomplete="off" lay-affix="clear" class="layui-input">
    </div>
  </div>
</div>

<div class="layui-form-item">
  <div class="layui-input-block">
    <button type="button" id="room-toggle-btn" class="layui-btn layui-btn-primary layui-border">连接</button>
  </div>
</div>

<fieldset class="layui-elem-field layui-field-title">
  <legend>实时消息</legend>
</fieldset>

<blockquote class="layui-elem-quote layui-quote-nm">
  <input type="checkbox" name="msg_filter" value="Enter" title="进场" lay-filter="msg-filter">
  <input type="checkbox" name="msg_filter" value="Chat" title="聊天" lay-filter="msg-filter">
  <input type="checkbox" name="msg_filter" value="Like" title="点赞" lay-filter="msg-filter">
  <input type="checkbox" name="msg_filter" value="Follow" title="关注" lay-filter="msg-filter">
  <input type="checkbox" name="msg_filter" value="Gift" title="礼物" lay-filter="msg-filter">
  <!-- <input type="checkbox" name="msg_filter" value="Fansclub" title="粉丝团" lay-filter="msg-filter">
  <input type="checkbox" name="msg_filter" value="Emoji" title="表情包" lay-filter="msg-filter">
  <input type="checkbox" name="msg_filter" value="Rank" title="排行榜" lay-filter="msg-filter">
  <input type="checkbox" name="msg_filter" value="Room" title="直播间" lay-filter="msg-filter"> -->
  <input type="checkbox" name="msg_filter" value="Viewer" title="统计" lay-filter="msg-filter">
</blockquote>

<!-- 消息行工具栏模板 -->
<script type="text/html" id="TPL_msg_tools">
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="reply">回复</a>
</script>

<!-- 播放队列头部工具栏模板 -->
<script type="text/html" id="TPL_msg_header">
  <div class="layui-btn-group">
    <div class="layui-inline" lay-event="clearAll"><i class="layui-icon layui-icon-delete"></i></div>
  </div>
</script>

<table id="msg-table" class="layui-table" lay-filter="msg-table"></table>