<fieldset class="layui-elem-field">
  <legend>连接</legend>
  <div class="layui-field-box">

    <div class="layui-form-item">
      <label class="layui-form-label">主机地址</label>
      <div class="layui-input-block">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix"><i class="layui-icon layui-icon-home"></i></div>
          <input type="text" id="obs-host" placeholder="127.0.0.1" lay-affix="clear" class="layui-input">
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">端口</label>
      <div class="layui-input-block">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix"><i class="layui-icon layui-icon-slider"></i></div>
          <input type="number" id="obs-port" placeholder="4455" lay-affix="clear" class="layui-input">
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">密码</label>
      <div class="layui-input-block">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix"><i class="layui-icon layui-icon-password"></i></div>
          <input type="text" id="obs-password" placeholder="密码" lay-affix="clear" class="layui-input">
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">推流地址</label>
      <div class="layui-input-block">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix"><i class="layui-icon layui-icon-release"></i></div>
          <input type="text" id="obs-stream-url" placeholder="rtmp://..." lay-affix="clear" class="layui-input">
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">推流码</label>
      <div class="layui-input-block">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix"><i class="layui-icon layui-icon-auz"></i></div>
          <input type="text" id="obs-stream-key" placeholder="推流码" lay-affix="clear" class="layui-input">
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-input-block">
        <button type="button" id="toggle-obs-connect-btn" class="layui-btn layui-btn-primary layui-border">连接</button>
        <button type="button" id="toggle-streaming-btn" class="layui-btn layui-btn-primary layui-border">直播</button>
      </div>
    </div>
  </div>
</fieldset>


<!-- 场景选择 -->
<fieldset class="layui-elem-field">
  <legend>场景</legend>
  <div class="layui-field-box">

    <div class="layui-form-item">
      <label class="layui-form-label">场景选择</label>
      <div class="layui-input-block">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix"><i class="layui-icon layui-icon-layouts"></i></div>
          <select id="scene-select" lay-filter="scene-select" lay-search>
            <option value="">请选择场景</option>
          </select>
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">画面选择</label>
      <div class="layui-input-block">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix"><i class="layui-icon layui-icon-layer"></i></div>
          <select id="source-select" lay-filter="source-select" class="layui-input" lay-search>
            <option value="">请选择画面</option>
          </select>
        </div>
      </div>
    </div>

    <!-- 视频文件 -->
    <div class="layui-form-item" id="obs-video-file-row">
      <label class="layui-form-label" id="obs-video-upload" lay-tips="{content: '上传', margin: '0 0 0 -10px' }">视频文件&nbsp;&nbsp;<span class="layui-badge-dot layui-bg-green"></span></label>
      <div class="layui-input-block">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix"><i class="layui-icon layui-icon-video"></i></div>
          <input id="obs-video-path" type="text" placeholder="请选择或上传视频文件" autocomplete="off" class="layui-input" lay-filter="play" lay-affix="play">
        </div>
      </div>
    </div>

    <!-- 操作按钮 -->
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button type="button" id="scene-refresh-btn" class="layui-btn layui-btn-primary layui-border">刷新</button>
        <button type="button" id="scene-switch-btn" class="layui-btn layui-btn-primary layui-border">切换</button>
        <button type="button" id="source-stop-btn" class="layui-btn layui-btn-primary layui-border">停止</button>
        <button type="button" id="source-toggle-play-btn" class="layui-btn layui-btn-primary layui-border-blue">播放</button>
      </div>
    </div>
  </div>
</fieldset>