### VSCode ###
.pyarmor/
*.log
*.exe
*.msi
*.mp4
*.pyc
**/temp/
**/babel/babel.*
**/babel/messages.pot

### Node ###
**/node_modules/
**/dist/
**/cache/
**/docs/package-lock.json

### CreatorBox ###
logs
models
webapp

### Exclude ###
!r3.exe
!webapp/data/azure_*
!webapp/data/db.db
!webapp/extensions/
!webapp/sample/


