.gr-image-toolbar {
    display: none !important;
}

/* Table 隐藏滚动条 */
#output-table::-webkit-scrollbar {
    /* 去掉横向滚动条 */
    height: 0px !important;
}

#output-table {
    /* 不显示溢出 */
    overflow-x: hidden !important;
}

/* JSON 外层容器拉伸 */
#output-json {
    flex: 1;
    min-height: 100%;
    overflow: hidden !important;
}

/* JSON 组件内部的滚动容器 */
#output-json .overflow-y-auto,
#output-json .overflow-x-auto {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

/* 彻底隐藏浏览器自带滚动条轨迹 */
#output-json::-webkit-scrollbar,
#output-json *::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
}