/* image-toolbar */
.gr-image-toolbar {
    display: none !important;
}

/* toggle */
.toggle-label.svelte-1871vx.svelte-1871vx {
    color: var(--checkbox-label-text-color);
}

/* btn */
.btn-wrap {
    overflow: hidden;
}

.scale-btn {
    transition: transform 0.15s ease;
}

.scale-btn:hover {
    transform: scale(1.05);
}

/* table */
#output-table {
    overflow-x: hidden !important;
}

#output-table::-webkit-scrollbar {
    height: 0px !important;
}

/* json */
#output-json {
    flex: 1;
    min-height: 100%;
    overflow: hidden !important;
}

#output-json .overflow-y-auto,
#output-json .overflow-x-auto {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

#output-json::-webkit-scrollbar,
#output-json *::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
}

/* textarea */
#output_text_area textarea {
    height: 100vh !important;
    resize: none;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}