.layui-card-header {
    position: relative;
  }
  
.layui-card-header .layui-icon {
    line-height: initial;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px
}

.layui-colla-title {
  position: relative;
}

.layui-colla-title .layui-icon {
  line-height: initial;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
}

.layui-form-pane .layui-form-label {
    width: 140px;
    padding-top: 8px;
    /* padding-right: 0px; */
    padding-bottom: 8px;
    padding-left: 15px;
}

.layui-form-pane .layui-input-block {
  margin-left: 140px;
  left: -1px;
}