{% extends "base.html" %}

{% block header_extra %}
<!-- sortable -->
<script src="static/js/thirdparty/sortable.min.js"></script>
<!-- aplayer -->
<link href="static/js/thirdparty/aplayer/aplayer.min.css" rel="stylesheet">
<link href="static/js/thirdparty/aplayer/aplayer.dark.css" rel="stylesheet">
<script src="static/js/thirdparty/aplayer/aplayer.min.js"></script>
{% endblock %}

{% block header_content %}
<div class="layui-header">

  <ul class="layui-nav layui-layout-left" lay-filter="nav-top">
    <li class="layui-nav-item" lay-header-event="menuLeft">
      <i class="layui-icon layui-icon-spread-left" style="font-size: 18px"></i>
    </li>
    <li class="layui-nav-item" lay-header-event="menuLeft">
      <span style="padding: 15px; font-size: 16px; background-color: unset">{{ data.app.version }} </span>
    </li>
    <li class="layui-nav-item">
      <a id="example-selector" href="javascript:;" style="padding-left: 8px;padding-right: 8px;" lay-tips="{content: '{{_('示例')}}', margin: '0 0 0 -10px' }">
        <i class="layui-icon layui-icon-template-1" style="font-size: 18px"></i>
      </a>
    </li>
  </ul>

  <ul class="layui-nav layui-layout-right" lay-filter="nav-top">
    <li class="layui-nav-item">
      <a data-path="/speaker?lang={{request.state.lang}}" href="javascript:;" style="padding-left: 8px;padding-right: 8px;" lay-tips="{content: '{{_('说话人')}}', margin: '0 0 0 -10px' }">
        <i class="layui-icon layui-icon-headset" style="font-size: 18px"></i>
      </a>
    </li>
    <li class="layui-nav-item">
      <a id="change-theme" style="padding-left: 8px;padding-right: 8px;" lay-tips="{content: '{{_('主题')}}', margin: '0 0 0 -10px' }">
        <i class="layui-icon layui-icon-moon" style="font-size: 18px"></i>
      </a>
    </li>
  </ul>

</div>
{% endblock %}

{% block body_content %}
<form class="layui-form layui-form-pane" lay-filter="form_filter">
  <div class="layui-row layui-col-space15">

    <!-- 基础 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">{{_("基础")}}</div>
        <div class="layui-card-body">

          <div class="layui-form-item">
            <label class="layui-form-label">{{_("模式")}}</label>
            <div class="layui-input-block">
              {% for item in data.base.mode_types %}
              <input type="radio" name="mode_type" value="{{ item.val }}" lay-filter="mode_type_filter" title="{{ item.desc_zh if request.state.lang == 'zh' else item.desc_en }}" {% if not item.enable %}disabled{% endif %}>
              {% endfor %}
            </div>
          </div>

          <div class="layui-form-item" id="align_type_div">
            <label class="layui-form-label">{{_("对齐")}}</label>
            <div class="layui-input-block">
              {% for item in data.base.align_types %}
              <input type="radio" name="align_type" value="{{ item.val }}" title="{{ item.desc_zh if request.state.lang == 'zh' else item.desc_en }}">
              {% endfor %}
            </div>
          </div>

          <div class="layui-form-item" id="video_url_div">
            <label class="layui-form-label" id="video_upload" lay-tips="{content: '{{_('上传')}}', margin: '0 0 0 -10px' }">{{_("文件")}}&nbsp;
              <span class="layui-badge-dot layui-bg-green"></span></label>
            <div class="layui-input-block">
              <div class="layui-input-wrap">
                <div class="layui-input-prefix"><i class="layui-icon layui-icon-video"></i></div>
                <input id="video_url" type="text" name="video_url" lay-verify="video_path" placeholder='{{_("请输入音视频路径或链接")}}' autocomplete="off" class="layui-input" lay-filter="play" lay-affix="play">
              </div>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label" id="json_upload" lay-tips="{content: '{{_('上传')}}', margin: '0 0 0 -10px' }">{{_("数据")}}&nbsp;
              <span class="layui-badge-dot layui-bg-green"></span></label>
            <div class="layui-input-block">
              <div class="layui-input-wrap">
                <div class="layui-input-prefix"><i class="layui-icon layui-icon-file"></i></div>
                <input id="json_file" type="text" name="json_file" lay-verify="json_path" placeholder='{{_("请输入JSON数据文件路径")}}' autocomplete="off" class="layui-input" lay-filter="editer" lay-affix="form">
              </div>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">{{_("后缀")}}</label>
            <div class="layui-input-block">
              <div class="layui-input-wrap">
                <div class="layui-input-prefix"><i class="layui-icon layui-icon-note"></i></div>
                <input id="suffix" type="text" name="suffix" lay-verify="required" placeholder='{{_("请输入后缀")}}' autocomplete="off" class="layui-input" lay-affix="clear">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 配音 -->
    <div class="layui-col-md12">

      <div class="layui-card">
        <div class="layui-card-header">{{_("语音合成")}}</div>
        <div class="layui-card-body">
          {% include "extend/tts.html" %}
        </div>
      </div>

    </div>

    <!-- 提交 -->
    <div class="layui-col-md12">
      <div class="layui-form-item layui-col-space15">
        <div id="floating-div" class="layui-col-md12">
          <button type="submit" class="layui-btn layui-btn-primary layui-border-green layui-btn-fluid" lay-submit lay-filter="form_submit">{{
            _("执行") }}</button>
        </div>
      </div>
    </div>

  </div>
</form>

<div>
  <input type="hidden" id="import" />
</div>

{% endblock %}

{% block scripts_extra %}
<script>

  layui.use(['form', 'layer', 'element', 'util', 'toastr', 'tools', 'i18n_', 'tts', 'example'], function () {

    var form = layui.form;
    var layer = layui.layer;
    var element = layui.element;
    var util = layui.util;
    var toast = layui.toastr;
    var tools = layui.tools;
    var i18n = layui.i18n_;
    i18n.init('{{request.state.lang}}');
    var $ = layui.$;

    var tts = layui.tts;
    var example = layui.example;

    var STATE_KEY_TOKEN = "token";
    localStorage.setItem(STATE_KEY_TOKEN, '{{data.token}}');

    var STATE_KEY_DUBBING = "dubb_form";
    var form_cache_raw = localStorage.getItem(STATE_KEY_DUBBING);
    var form_cache = form_cache_raw ? JSON.parse(form_cache_raw) : {};
    var form_json = JSON.parse('{{ data.form | tojson }}')
    var form_data = Object.keys(form_cache).length === 0 ? Object.assign({}, form_json) : Object.assign({}, form_json, form_cache)

    var STATE_KEY_TTS_TABLE_LIST = "tts_table_list";
    var voice_cache = localStorage.getItem(STATE_KEY_TTS_TABLE_LIST);
    var voice_data = voice_cache ? JSON.parse(voice_cache) : []

    // 示例扩展
    example.init('#example-selector');

    // 表单初始
    $('#align_type_div').toggleClass('layui-hide', form_data.mode_type != 3);
    $('#video_url_div').toggleClass('layui-hide', form_data.mode_type == 1);
    $("#tts_text").val() || $("#tts_text").val(i18n.trans("creatorbox"));

    // 表单验证
    form.verify({
      video_path: function (value, elem) {
        var mode_type = $('input[name="mode_type"]:checked').val();
        if (mode_type != 1 && value.length == 0) {
          return '{{_("请输入音视频路径或链接")}}';
        }
      },
      json_path: function (value, elem) {
        if (value.length == 0) {
          return '{{_("请输入数据文件路径")}}';
        }
      },
      tts_provider: function (value, elem) {
        var tableData = layui.table.cache['tts_voices_table'];
        if (tableData.length == 0 && $('select[name="tts_provider"]').val() != 'itts') {
          return '{{_("请至少添加一个配音角色")}}';
        }
      },
      tts_text: function (value, elem) {
        tts_text = $("#tts_text").val()
        if (tts_text.length == 0) {
          return '{{_("请输入试听文本")}}';
        }
      },
    });

    // 表格渲染
    tts.setData(form_data, voice_data)

    // ================================

    // 视频上传
    tools.upload("#video_upload", "file/upload", 'file', 'mp4|mkv|avi|mp3|wav|m4a|flac', function (response) {
      $('[name="video_url"]').val(response.data.location)
    })

    // 数据上传
    tools.upload("#json_upload", "file/upload", 'file', 'json', function (response) {
      $('[name="json_file"]').val(response.data.location)
    })

    // 视频播放
    form.on('input-affix(play)', function (data) {
      var elem = data.elem;
      var video_url = elem.value;
      if (!video_url) {
        layer.msg('{{_("请输入音视频路径或链接")}}', { icon: 0 });
        return elem.focus()
      };
      tools.open(`player?url=${video_url}&search=false`);
    });

    // 数据编辑
    form.on('input-affix(editer)', function (data) {
      var elem = data.elem;
      var data_url = elem.value;
      if (!data_url) {
        layer.msg('{{_("请输入数据文件路径")}}', { icon: 0 });
        return elem.focus()
      };
      tools.open(`editor?upload=file/upload&remote=file/download?path=${data_url}&mode=table`);
    });

    // 处理模式
    form.on('radio(mode_type_filter)', function (data) {
      var mode_type = data.elem.value;
      // 对齐选项仅在配音模式（mode_type = 1）显示
      $('#align_type_div').toggleClass('layui-hide', mode_type != 3);
      // 视频文件输入在合成模式（mode_type = 3）隐藏
      $('#video_url_div').toggleClass('layui-hide', mode_type == 1);
    });

    // 提交执行
    form.on('submit(form_submit)', function (data) {
      var field = data.field;
      var elem = data.elem;
      // 本地存储
      localStorage.setItem(STATE_KEY_DUBBING, JSON.stringify(field));
      // 配音
      field.tts_dubbing = voice_data;
      // 请求数据
      data = JSON.stringify(field, null, 2);
      console.debug(field)
      // 确认执行
      layer.confirm(i18n.trans("确定提交?"), {
        icon: 3,
        title: i18n.trans('提示'),
        btn: [i18n.trans('确定'), i18n.trans('取消')]
      }, function (index) {
        layer.close(index);
        // 请求调用
        tools.post("dubb/pipeline", data, function (response) {
          var taskId = response.data.task_id
          toast.info(taskId, i18n.trans("任务提交成功"));
          // 任务存储
          localStorage.setItem('task', taskId)
        })
      });
      return false;
    });

    // 回调通知
    tools.connect(function (message) {
      if (message.type == "video") {
        toast.success(localStorage.getItem('task'), i18n.trans("任务处理成功"));
      }
      else if (message.type == "error") {
        toast.error(message.payload, i18n.trans("任务处理异常"));
      }
    }, '{{data.app.debug}}')

    // 顶部导航
    element.on('nav(nav-top)', function (elem) {
      var path = elem.data('path');
      if (path) {
        tools.open(path);
      }
    });

    // 固定条
    util.fixbar({
      bars: [{ type: i18n.trans("数据"), icon: 'layui-icon-fonts-code' },],
      bar1: false,
      bar2: false,
      bgcolor: '#393D52',
      css: { bottom: 80 },
      on: {
        mouseenter: function (desc) {
          layer.tips(desc, this, { tips: 4, fixed: true });
        },
        mouseleave: function (type) {
          layer.closeAll('tips');
        }
      },
      click: function (type) {
        if (type == i18n.trans("数据")) {
          filename = $("#video_url").val().split(/[/\\]/).pop().split(".")[0];
          if (filename == "") {
            layer.msg('{{_("请输入音视频路径或链接")}}', { icon: 0 });
            setTimeout(function () {
              util.openWin({ url: `editor?mode=tree` });
            }, 1000);
            return
          }
          suf = $("#suffix").val();
          if (suf == "") {
            return layer.msg('{{_("请输入后缀")}}', { icon: 0 });
          }
          title = `{{ data.app.title }} - ${filename}_${suf}`;
          util.openWin({ url: `editor?upload=file/upload&remote=file/download?path=webapp/dubb/${filename}/_${suf}/${filename}.json&mode=table` });
        }
      }
    });

  });

</script>
{% endblock %}