<!DOCTYPE html>
<html lang="{{request.state.lang}}">

<head>
  <meta charset="utf-8" />
  <title>{{ data.app.title }} - Dubbing</title>
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-- jquery -->
  <script src="static/js/jquery/jquery.min.js"></script>
  <script src="static/js/ext/howler.min.js"></script>
  <!-- nprogress -->
  <link href="static/js/nprogress/nprogress.min.css" rel="stylesheet">
  <script src="static/js/nprogress/nprogress.min.js"></script>
  <!-- socket -->
  <script src="static/js/ext/socket.io.min.js"></script>
  <!-- layui -->
  <link href="static/js/layui/css/layui.css" rel="stylesheet">
  <link href="static/js/layui/css/layui-nav.css" rel="stylesheet">
  <link href="static/js/layui/css/layui-dark.css" rel="stylesheet">
  <script src="static/js/layui/layui.js"></script>
  <!-- app -->
  <link href="static/js/app/app.css" rel="stylesheet">
  <script src="static/js/app/app.js"></script>
</head>

<body class="collapse" layadmin-themealias="default">

  <div class="layui-layout layui-layout-admin">

    <!-- 顶部区域 -->
    <div class="layui-header">
      <!-- 头部区域（可配合layui 已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item" lay-header-event="menuLeft">
          <i class="layui-icon layui-icon-spread-left" style="font-size: 18px"></i>
        </li>
        <li class="layui-nav-item" lay-header-event="menuLeft">
          <span style="padding: 15px; font-size: 16px; background-color: unset">{{ data.app.version }} </span>
        </li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a id="change-theme" style="padding-left: 8px;padding-right: 8px;">
            <i class="layui-icon layui-icon-moon" style="font-size: 18px"></i>
          </a>
        </li>
        <!-- <li class="layui-nav-item">
          <a href="https://github.com/xiesx123/CreatorBox" target="_blank"
            style="padding-left: 8px;padding-right: 8px;">
            <i class="layui-icon layui-icon-github" style="font-size: 18px"></i>
          </a>
        </li> -->
      </ul>
    </div>

    <!-- 导航区域 -->
    <div class="layui-side">
      <div class="layui-side-scroll">
        <div class="layui-logo ">{{ data.app.title }}</div>
        <ul class="layui-nav layui-nav-tree layui-bg-gray" lay-unselect lay-filter="nav-side" id="ws-nav-side">
          <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">{{_("功能")}}</a>
            <dl class="layui-nav-child">
              <dd><a data-path="/speaker?lang={{request.state.lang}}" href="javascript:;">
                  <i style="font-size: 18px" class="layui-icon layui-icon-headset"></i> {{_("音色管理")}}</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">{{_("辅助")}}</a>
            <dl class="layui-nav-child">
              <dd>
                <a data-path="/editor?lang={{request.state.lang}}" href="javascript:;">
                  <i style="font-size: 18px" class="layui-icon layui-icon-code-circle"></i> {{_("数据编辑")}}
                </a>
              </dd>
              <dd><a data-path="/player?lang={{request.state.lang}}&url=webapp\sample\video_amazing.mp4&autoplay=true" href="javascript:;">
                  <i style="font-size: 18px" class="layui-icon layui-icon-play"></i> {{_("视频播放")}}
                </a>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>

    <!-- 主体区域 -->
    <div id="layui-body" class="layui-body" style="padding: 10px">
      <form class="layui-form layui-form-pane" lay-filter="form_filter">

        <div class="layui-row layui-col-space15">

          <!-- 基础 -->
          <div class="layui-col-md12">
            <div class="layui-collapse" lay-filter="collapse_filter_base">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{_("基础")}}</div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item">
                      <label class="layui-form-label" id="video_upload" lay-tips="{content: '{{_('上传')}}', margin: '0 0 0 -10px' }">{{_("视频")}}
                        <span class="layui-badge-dot layui-bg-green"></span></label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-video"></i> </div>
                          <input id="video_url" type="text" name="video_url" lay-verify="path" placeholder='{{_("请输入音视频路径或链接")}}' autocomplete="off" class="layui-input" lay-filter="play" lay-affix="play">
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{_("地区")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-location"></i> </div>
                          <select id="locale" name="locale" lay-verify="required" lay-filter="locale_filter">
                            <option value="">{{_("选择或搜索")}}</option>
                            {% for item in data.base.locales %}
                            <option value="{{ item.locale }}">{{ item.locale }} - {{ item.name if request.state.lang == 'zh' else item.country }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{_("模式")}}</label>
                      <div class="layui-input-block">
                        {% for item in data.base.mode_types %}
                        <input type="radio" name="mode_type" value="{{ item.val }}" lay-filter="mode_type_filter" title="{{ item.desc_zh if request.state.lang == 'zh' else item.desc_en }}" {% if not item.enable %}disabled{% endif %}>
                        {% endfor %}
                      </div>
                    </div>

                    <div class="layui-form-item" pane id="align_type_div">
                      <label class="layui-form-label">{{_("对齐")}}</label>
                      <div class="layui-input-block">
                        {% for item in data.base.align_types %}
                        <input type="radio" name="align_type" value="{{ item.val }}" title="{{ item.desc_zh if request.state.lang == 'zh' else item.desc_en }}">
                        {% endfor %}
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{_("选项")}}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="preview" title='{{_("预览")}}'>
                        <input type="checkbox" name="rebuild" title='{{_("重构")}}'>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{_("后缀")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-note"></i> </div>
                          <input id="suffix" type="text" name="suffix" lay-verify="required" placeholder='{{_("请输入后缀")}}' autocomplete="off" class="layui-input" lay-affix="error">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 字幕 -->
          <div class="layui-col-md6">
            <div class="layui-collapse" lay-filter="collapse_filter_asr">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{_("字幕")}}
                    <!-- <a href="https://xiesx123.github.io/CreatorBox" target="_blank">
                      <i class="layui-icon layui-icon-tips" style="font-size: 20px;margin-top:-10px"></i>
                    </a> -->
                  </div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item" pane lay-tips="{content: '{{_('开启调试会中断后续步骤')}}', margin: '0 0 0 -10px' }">
                      <label class="layui-form-label">{{_("调试")}}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="asr_debug" lay-skin="switch" lay-filter="switch_debug_filter">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{_("提供商")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-component"></i> </div>
                          <select name="asr_provider" lay-filter="asr_provider_filter">
                            {% for item in data.asr.providers %}
                            <option value="{{ item.provider}}" {% if not item.enable %}disabled{% endif %}>
                              {{ item.desc }}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="subtitle_div">
                      <div class="layui-form-item">
                        <label class="layui-form-label" id="subtitle_upload" lay-tips="{content: '{{_('上传')}}', margin: '0 0 0 -10px' }">{{_("字幕")}} <span class="layui-badge-dot layui-bg-green"></span></label>
                        <div class="layui-input-block">
                          <div class="layui-input-wrap">
                            <div class="layui-input-prefix"> <i class="layui-icon layui-icon-file-b"></i> </div>
                            <input id="subtitle_file" type="text" name="subtitle_file" lay-verify="subtitle_srt" placeholder='{{_("请输入字幕文件路径（SRT）")}}' autocomplete="off" class="layui-input" lay-affix="error">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="jydraft_div">
                      <div class="layui-form-item">
                        <label class="layui-form-label">{{_("草稿")}}</label>
                        <div class="layui-input-block">
                          <div class="layui-input-wrap">
                            <div class="layui-input-prefix"> <i class="layui-icon layui-icon-template"></i> </div>
                            <select name="draft_name" lay-verify="draft_name" lay-search>
                              <option value="">{{_("选择或搜索")}}</option>
                              {% for item in data.asr.draftnames %}
                              <option value="{{ item }}">{{ item }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="whisper_div">

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{_("模型")}}</label>
                        <div class="layui-input-block">
                          <div class="layui-input-wrap">
                            <div class="layui-input-prefix"> <i class="layui-icon layui-icon-template-1"></i> </div>
                            <select name="asr_model" lay-verify="required" lay-search>
                              <option value="">{{_("选择或搜索")}}</option>
                              {% for item in data.asr.whispers %}
                              <option value="{{ item }}">{{ item }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{_("准确性")}}</label>
                        <div class="layui-input-block">
                          <div class="layui-input-wrap">
                            <div class="layui-input-prefix"> <i class="layui-icon layui-icon-search"></i> </div>
                            <select name="whisper_size" lay-verify="required" lay-search>
                              <option value="">{{_("选择或搜索")}}</option>
                              {% for item in data.asr.beam_sizes %}
                              <option value="{{ item.val }}">{{ item.val }} - {{ item.desc_zh if request.state.lang ==
                                'zh' else item.desc_en }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{_("随机性")}}</label>
                        <div class="layui-input-block">
                          <div class="layui-input-wrap">
                            <div class="layui-input-prefix"> <i class="layui-icon layui-icon-search"></i> </div>
                            <select name="whisper_temperature" lay-verify="required" lay-search>
                              <option value="">{{_("选择或搜索")}}</option>
                              {% for item in data.asr.temperatures %}
                              <option value="{{ item.val }}">{{ item.val }} - {{ item.desc_zh if request.state.lang ==
                                'zh' else item.desc_en }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{_("连贯性")}}</label>
                        <div class="layui-input-block">
                          <div class="layui-input-wrap">
                            <div class="layui-input-prefix"> <i class="layui-icon layui-icon-search"></i> </div>
                            <select name="whisper_length" lay-verify="required" lay-search>
                              <option value="">{{_("选择或搜索")}}</option>
                              {% for item in data.asr.chunk_lengths %}
                              <option value="{{ item.val }}">{{ item.val }} - {{ item.desc_zh if request.state.lang ==
                                'zh' else item.desc_en }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{_("音轨分离")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-template-1"></i> </div>
                          <select name="uvr_model" lay-search>
                            <option value="">{{_("选择或搜索")}}</option>
                            {% for item in data.asr.uvrmodels %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{_("声纹对齐")}}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="align_enable" lay-skin="switch">
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{_("情感识别")}}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="emotion_enable" lay-skin="switch">
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{_("说话人数量")}}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="speaker_use_num" lay-skin="switch" lay-filter="switch_speaker_filter">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{_("说话人区间")}}</label>
                      <div class="layui-input-inline" style="width: 142px;">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required|number|speaker_len" name="speaker_min" placeholder="最小值" autocomplete="off" class="layui-input" min="1" max="10" step="1" lay-affix="number">
                        </div>
                      </div>
                      <div class="layui-input-inline" style="width: 142px;">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required|number|speaker_len" name="speaker_max" placeholder="最大值" autocomplete="off" class="layui-input" min="1" max="10" step="1" lay-affix="number">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 翻译 -->
          <div class="layui-col-md6">
            <div class="layui-collapse" lay-filter="collapse_filter_llm">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{_("翻译")}}</div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item" pane lay-tips="{content: '{{_('开启调试会中断后续步骤')}}', margin: '0 0 0 -10px' }">
                      <label class="layui-form-label">{{_("调试")}}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="llm_debug" lay-skin="switch" lay-filter="switch_debug_filter">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{_("提供商")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-component"></i> </div>
                          <select name="llm_provider" lay-filter="llm_provider_filter">
                            <option value="ignore">{{_("忽略")}}</option>
                            {% for item in data.trans.providers %}
                            <option value="{{ item.provider}}" {% if not item.enable %}disabled{% endif %}>
                              {{ item.provider }}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="ignore_div">
                      <div class="layui-form-item" pane>
                        <label class="layui-form-label">{{_("使用原文")}}</label>
                        <div class="layui-input-block">
                          <input type="checkbox" name="llm_use_original_text" lay-skin="switch">
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="llm_div">

                      <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">{{_("提示词")}}</label>
                        <div class="layui-input-block">
                          <textarea name="llm_prompt" placeholder='{{_("提示词示例")}}' lay-affix="error" class="layui-textarea" style="min-height: 214px"></textarea>
                        </div>
                      </div>

                    </div>

                    <div class="layui-form-item">
                      <div class="layui-hide" id="opt_div">
                        <label class="layui-form-label">{{_("批量")}}</label>
                        <div class="layui-input-block">
                          <div class="layui-input-wrap">
                            <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                            <input type="number" name="llm_batch_size" lay-verify="required" placeholder="[10,100]" autocomplete="off" class="layui-input" min="10" max="100" step="10" lay-affix="number">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 配音 -->
          <div class="layui-col-md12">
            <div class="layui-collapse" lay-filter="collapse_filter_tts">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{_("配音")}}</div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item">
                      <label class="layui-form-label"> {{_("提供商")}} </label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-component"></i> </div>
                          <select id="tts_provider" name="tts_provider" lay-verify="required" lay-filter="tts_provider_filter">
                            {% for item in data.tts.providers %}
                            {% if item.enable %}
                            <option value="{{ item.provider}}">{{ item.desc }} {{ '- ' + _("可用") if item.valid else '' }}</option>
                            {% endif %}>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-hide" pane id="opt_server">
                      <label class="layui-form-label">{{_("服务地址")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-website"></i> </div>
                          <input type="text" name="tts_server" placeholder="{{ _('请输入服务地址')}}" autocomplete="off" class="layui-input" lay-affix="error" disabled>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{_("模型")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-template-1"></i> </div>
                          <input type="text" name="tts_model" placeholder="{{ _('请输入模型名称')}}" autocomplete="off" class="layui-input" lay-affix="error" disabled>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{_("性别")}}</label>
                      <div class="layui-input-block">
                        <input type="radio" name="tts_gender" value="1" lay-filter="tts_gender_filter" title='{{_("男")}}'>
                        <div lay-radio>
                          <span>{{_("男")}} <i class="layui-icon layui-icon-male"></i></span>
                        </div>
                        <input type="radio" name="tts_gender" value="2" lay-filter="tts_gender_filter" title='{{_("女")}}'>
                        <div lay-radio>
                          <span>{{_("女")}} <i class="layui-icon layui-icon-female"></i></span>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{_("音色")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i id="tts_voice_icon" class="layui-icon layui-icon-username"></i> </div>
                          <select id="tts_voice" name="tts_voice" lay-verify="required" lay-filter="tts_voice_filter" lay-search="{caseSensitive:false, fuzzy: true}">
                            <option value="">{{_("选择或搜索")}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{_("音量")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required" name="tts_volume" placeholder="[0,1]" autocomplete="off" class="layui-input" min="0" max="2" step="0.01" lay-affix="number">
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-hide" pane id="opt_rate">
                      <label class="layui-form-label">{{_("语速")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required" name="tts_rate" placeholder="[0,2]" autocomplete="off" class="layui-input" min="0" max="2" step="0.01" lay-affix="number">
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-hide" pane id="opt_pitch">
                      <label class="layui-form-label">{{_("语调")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required" name="tts_pitch" placeholder="[0,2]" autocomplete="off" class="layui-input" min="0" max="2" step="0.01" lay-affix="number">
                        </div>
                      </div>
                    </div>

                    <!-- azure -->
                    <div class="layui-col-md12 layui-hide" id="azure_div"></div>
                    <!-- edge -->
                    <div class="layui-col-md12 layui-hide" id="edge_div"></div>
                    <!-- elab -->
                    <div class="layui-col-md12 layui-hide" id="elab_div"></div>
                    <!-- cosy -->
                    <div class="layui-col-md12 layui-hide" id="cosy_div"></div>
                    <!-- itts -->
                    <div class="layui-col-md12 layui-hide" id="itts_div"></div>
                    <!-- sovits -->
                    <div class="layui-col-md12 layui-hide" id="gtts_div"></div>

                    <!-- opt -->
                    <div class="layui-form-item layui-hide" pane id="opt_role" lay-tips="{content: '{{_('选择试听')}}', margin: '0 0 0 -10px' }">
                      <label class="layui-form-label">{{_("角色扮演")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-headset"></i> </div>
                          <select id="tts_role" name="tts_role" lay-filter="tts_role_filter" lay-search="{caseSensitive:false, fuzzy: true}">
                            <option value="">{{_("选择或搜索")}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-hide" pane id="opt_style" lay-tips="{content: '{{_('选择试听')}}', margin: '0 0 0 -10px' }">
                      <label class="layui-form-label">{{_("说话风格")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-headset"></i> </div>
                          <select id="tts_style" name="tts_style" lay-filter="tts_style_filter" lay-search="{caseSensitive:false, fuzzy: true}">
                            <option value="">{{_("选择或搜索")}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-hide" pane id="opt_styledegree" lay-tips="{content: '{{_('选择试听')}}', margin: '0 0 0 -10px' }">
                      <label class="layui-form-label">{{_("风格强度")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-search"></i> </div>
                          <select id="tts_styledegree" name="tts_styledegree" lay-filter="tts_styledegree_filter" lay-search>
                            {% for item in data.tts.styledegrees %}
                            <option value="{{ item.val }}">{{ loop.index }}.{{ item.desc_zh if request.state.lang == 'zh' else item.desc_en }}</option>
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-hide" pane id="opt_instruct">
                      <label class="layui-form-label">{{_("指令")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-note"></i> </div>
                          <input name="tts_instruct" placeholder='{{_("【地区方言】、【角色扮演】、【说话风格】等等")}}' lay-affix="error" class="layui-input"></input>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-hide" pane id="opt_seed" lay-tips="{content: '{{_('控制结果可复现')}}', margin: '0 0 0 -10px' }">
                      <label class="layui-form-label">{{_("种子")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-note"></i> </div>
                          <input type="number" name="tts_seed" lay-verify="required|number" placeholder='{{_("请输入随机种子")}}' autocomplete="off" class="layui-input" lay-filter="seed" lay-affix="release" onkeyup="value=value.slice(0,8)"></input>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{_("备注")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-note"></i> </div>
                          <input name="tts_remarks" placeholder='{{_("随便写点什么")}}' lay-affix="error" class="layui-input"></input>
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                      <label class="layui-form-label" id="tts_preview" lay-tips="{content: '{{_('点击试听')}}', margin: '0 0 0 -10px' }">{{
                        _("试听") }} <i class="layui-icon layui-icon-headset"></i></label>
                      <div class="layui-input-block">
                        <textarea id="tts_text" name="tts_text" placeholder='{{_("请输入试听文本")}}' lay-verify="tts_text" lay-reqtext='{{_("请输入试听文本")}}' lay-affix="error" class="layui-textarea tts_text" maxlength="1000"></textarea>
                      </div>
                    </div>

                    <table id="tts_voices_table" class="layui-table"></table>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 其他 -->
          <div class="layui-col-md12" id="settings_div">
            <div class="layui-collapse" lay-filter="collapse_filter_settings">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{_("其他")}}
                    <!-- <i class="layui-icon layui-icon-tips" lay-tips="要支持的噢"></i> -->
                  </div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item">
                      <label class="layui-form-label" lay-tips="{content: '{{_('原始音量')}}', margin: '0 0 0 -10px' }">{{_("原始音量")}}</label>

                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required" name="volume_native" placeholder="[0,1]" autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label" lay-tips="{content: '{{_('背景音量')}}', margin: '0 0 0 -10px' }">{{_("背景音量")}}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required" name="volume_background" placeholder="[0,1]" autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-show">
                      <label class="layui-form-label" lay-tips="{content: '{{_('静音检测')}}', margin: '0 0 0 -20px' }">{{_("静音检测")}}</label>
                      <div class="layui-input-inline" style="width: 142px;">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required" name="silence_threshold" placeholder="[-100,0]" autocomplete="off" class="layui-input" min="-100" max="0" step="10" lay-affix="number">
                        </div>
                      </div>
                      <div class="layui-input-inline" style="width: 142px;">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required" name="silence_min_len" placeholder="[1,1000]" autocomplete="off" class="layui-input" min="1" max="1000" step="1" lay-affix="number">
                        </div>
                      </div>
                      <div class="layui-input-inline" style="width: 142px;">
                        <div class="layui-input-wrap">
                          <div class="layui-input-prefix"> <i class="layui-icon layui-icon-slider"></i> </div>
                          <input type="number" lay-verify="required" name="silence_keep" placeholder="[1,1000]" autocomplete="off" class="layui-input" min="1" max="1000" step="1" lay-affix="number">
                        </div>
                      </div>
                      <div class="layui-form-mid layui-text-em">
                        <i class="layui-icon layui-icon-tips" lay-tips="{content: '{{_('请使用sdr组件获取参数')}}', margin: '0 0 0 -10px' }"></i>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 提交 -->
          <div class="layui-col-md12">
            <div class="layui-form-item layui-col-space15">
              <div id="floating-div" class="layui-col-md12">
                <button type="submit" class="layui-btn layui-btn-fluid" lay-submit lay-filter="form_submit">{{
                  _("执行") }}</button>
              </div>
              <!-- <div class="layui-col-md12">
                <div class="layui-col-md2">
                  <button type="reset" class="layui-btn layui-btn-primary layui-border layui-btn-fluid">重置</button>
                </div>
              </div> -->
            </div>
          </div>

      </form>
    </div>

    <div>
      <input type="hidden" id="import" />
    </div>

  </div>

  <script type="text/html" id="TPL_tts_voices_table_tools">
    <div class="layui-btn-container">
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="preview">{{_("试听")}}</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">{{_("删除")}}</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="up">{{_("上移")}}</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="down">{{_("下移")}}</a>
    </div>
  </script>

  <script>

    layui.use(['form', 'layer', 'element', 'util', 'notice', 'tool', 'i18n', 'asr', 'trans', 'tts'], function () {

      var form = layui.form;
      var layer = layui.layer;
      var element = layui.element;
      var util = layui.util;
      var toast = layui.notice;
      var tool = layui.tool;
      var i18n = layui.i18n;
      var $ = layui.$;

      i18n.init('{{request.state.lang}}');

      var app = JSON.parse('{{ data.app | tojson }}')
      var os = '{{ os }}'
      console.log("%s %s.%s build on %s at %s (%s %s)", app.title, app.version, app.build.hash, app.build.branch, app.build.date, os, app.serial);
      console.log(i18n.trans("creatorbox"));

      let CREATORBOX = "dubbing"
      let cache = layui.data(CREATORBOX)

      var form_data = JSON.parse('{{ data.form | tojson }}')              // 表单默认值
      var cache_form = cache.hasOwnProperty('form') ? cache.form : {}     // 表单缓存值
      var cache_table = cache.hasOwnProperty('table') ? cache.table : []  // 配音缓存值
      var form_json = Object.keys(cache_form).length === 0 ? Object.assign({}, form_data) : Object.assign({}, form_data, cache_form)

      var asr = layui.asr;
      asr.setData(form_json)
      asr.setProviderData(JSON.parse('{{ data.asr.providers | tojson }}'))

      var trans = layui.trans;
      trans.setData(form_json)
      trans.setProviderData(JSON.parse('{{ data.trans.providers | tojson }}'))

      var tts = layui.tts;
      tts.setData(form_json, cache_table)
      tts.setProviderData(JSON.parse('{{ data.tts.providers | tojson }}'))

      // 表单渲染
      form.val('form_filter', form_json);

      // 表单初始
      $('#align_type_div').toggleClass('layui-hide', form_json.mode_type != 1);
      $("#suffix").val(form_json.locale.slice(0, 2))
      $("#tts_text").val() || $("#tts_text").val(i18n.trans("creatorbox"));

      // 表单验证 
      form.verify({
        path: function (value, elem) {
          if (value.length == 0) {
            return '{{_("请输入音视频路径或链接")}}';
          }
        },
        subtitle_srt: function (value, elem) {
          if ($('select[name="asr_provider"]').val() != 'Subtitle') return;
          subtitle_file = $('input[name="subtitle_file"]').val()
          if (subtitle_file.length == 0) {
            return '{{_("请输入字幕文件路径（SRT）")}}';
          }
        },
        speaker_len: function (value, elem) {
          if ($('input[name="asr_debug"]').is(':checked')) return;
          if ($('input[name="llm_debug"]').is(':checked')) return;
          speaker_min = $('input[name="speaker_min"]').val()
          if (cache_table.length < speaker_min) {
            return i18n.trans("【配音说话人数】不能低于【说话人区间最小值】，请先试听语音");
          }
        },
        tts_text: function (value, elem) {
          tts_text = $("#tts_text").val()
          if (tts_text.length == 0) {
            return '{{_("请输入试听文本")}}';
          }
        },
        draft_name: function (value, elem) {
          if ($('select[name="asr_provider"]').val() != 'JyDraft') return;
          draft_name = $('select[name="draft_name"]').val()
          if (draft_name.length == 0) {
            return '{{_("请输入模型名称")}}';
          }
        },
      });

      // =======================================

      // 视频上传
      tool.upload("#video_upload", "file/upload", 'file', 'mp4|mkv|avi|mp3|wav|m4a|flac', null, function (response) {
        $('[name="video_url"]').val(response.data.location)
        // 切换语音角色
        tts.setData(form_json, cache_table)
      })

      // 视频播放
      form.on('input-affix(play)', function (data) {
        var elem = data.elem;
        var video_url = elem.value;
        if (!video_url) {
          layer.msg('{{_("请输入音视频路径或链接")}}');
          return elem.focus()
        };
        tool.open("player?url=" + video_url + "&autoplay=true", "1100px", "510px");
      });

      // 随机种子
      form.on('input-affix(seed)', function (data) {
        $('input[name="tts_seed"]').val(tool.random());
      });

      // 地区选择
      form.on('select(locale_filter)', function (data) {
        if (data.elem.value != "") {
          form_json.locale = data.elem.value;
          form_json.tts_gender = 1;
          // 恢复默认选择
          $("#suffix").val(form_json.locale.slice(0, 2))
          // 恢复默认选择
          $('input[name="tts_gender"][value="1"]').prop('checked', true);
          form.render('radio');
          // 切换语音角色
          tts.setData(form_json, cache_table)
          if (form_json.llm_provider == 'ignore') {
            return layer.msg(i18n.trans("请选择翻译提供商"), { icon: 3 });
          }
          // 切换试听文本
          tool.post("trans/translator", JSON.stringify({
            "provider": form_json.llm_provider,
            "model": $('input[name="llm_model"]').val(),
            "language": form_json.locale,
            "text": $("#tts_text").val(),
            "extra": {},
          }), function (response) {
            form_json.tts_text = response.data;
            $("#tts_text").val(form_json.tts_text)
          }, true);
        }
      });

      // 处理模式
      form.on('radio(mode_type_filter)', function (data) {
        $('#align_type_div').toggleClass('layui-hide', data.elem.value != 1);
      });

      // 提交执行
      form.on('submit(form_submit)', function (data) {
        var field = data.field;
        var elem = data.elem;
        // 本地存储
        layui.data(CREATORBOX, { key: 'form', value: field });
        // 配音
        field.tts_dubbing = cache_table;
        // 请求数据
        data = JSON.stringify(field, null, 2);
        console.debug(field)
        // 确认执行
        layer.confirm(i18n.trans("确定提交？"), {
          icon: 3,
          title: i18n.trans('提示'),
          btn: [i18n.trans('确定'), i18n.trans('取消')]
        }, function (index) {
          layer.close(index);
          // 禁用预览
          $("button[lay-on='video_preview']").addClass("layui-btn-disabled").prop("disabled", true);
          // 请求调用
          tool.post("dubb/pipeline", data, function (response) {
            var taskId = response.data.task_id
            toast.info(taskId, i18n.trans("任务提交成功"));
            // 任务存储
            localStorage.setItem('task', taskId)
          }, true)
        });
        return false;
      });

      // 回调通知
      tool.connect(function (data) {
        if (data.type == "video") {
          toast.success(localStorage.getItem('task'), i18n.trans("任务处理成功"));
          $("button[lay-on='video_preview']").removeClass("layui-btn-disabled").prop("disabled", false);
        }
        else if (data.type == "error") {
          toast.error(data.message, i18n.trans("任务处理异常"));
        }
      })

      // 预览事件
      util.on('lay-on', {
        "video_preview": function (othis) {
          tool.open("player?lang={{request.state.lang}}&url=" + localStorage.getItem('task') + "&autoplay=true", "1100px", "510px");
        }
      });

      // 固定条
      var bars = [
        // { type: i18n.trans("日志"), icon: 'layui-icon-export' }
        { type: i18n.trans("数据"), icon: 'layui-icon-fonts-code' },
        { type: i18n.trans("预览"), icon: 'layui-icon-video' },
        // { type: i18n.trans("备份"), icon: 'layui-icon-export' }
      ];
      util.fixbar({
        bars: bars,
        bar1: false,
        bar2: false,
        bgcolor: '#393D52',
        css: { bottom: 80 },
        on: {
          mouseenter: function (desc) {
            layer.tips(desc, this, {
              tips: 4,
              fixed: true
            });
          },
          mouseleave: function (type) {
            layer.closeAll('tips');
          }
        },
        click: function (type) {
          if (type == i18n.trans("日志")) {
            util.openWin({ url: "log" });
          }
          else if (type == i18n.trans("数据")) {
            filename = $("#video_url").val().split(/[/\\]/).pop().split(".")[0];
            if (filename == "") {
              return layer.msg('{{_("请输入音视频路径或链接")}}', { icon: 3 });
            }
            suf = $("#suffix").val();
            if (suf == "") {
              return layer.msg('{{_("请输入后缀")}}', { icon: 3 });
            }
            title = `{{ data.app.title }} - ${filename}_${suf}`;
            util.openWin({ url: `editor?title=${title}&upload=file/upload&remote=file/local?url=webapp/temp/${filename}/${filename}_${suf}.json` });
          }
          else if (type == i18n.trans("预览")) {
            if (localStorage.getItem('task')) {
              tool.open("player?lang={{request.state.lang}}&url=" + localStorage.getItem('task') + "&autoplay=true", "1100px", "510px");
            } else {
              util.openWin({ url: "player?url=&autoplay=true" });
            }
          }
          else if (type == i18n.trans("备份")) {
            layer.confirm('请选择？', { icon: 3, title: '提示', btn: ['备份', '导入', '取消'] }, function (index) {
              filename = $("#video_url").val().split(/[/\\]/).pop().split(".")[0];
              cache = layui.data(CREATORBOX)
              cache.version = '{{ data.app.version }}'
              if (!cache.hasOwnProperty('form')) {
                return layer.msg('请先执行', { icon: 3 });
              } else if (!cache.hasOwnProperty('table')) {
                return layer.msg('请先试听', { icon: 3 });
              }
              tool.download("dubb/export", JSON.stringify(cache), filename)
            }, function () {
              tool.upload("#import", "dubb/import", 'file', 'zip', null, function (response) {
                if (response.code != 0) {
                  return toast.error(response.message, "提示");
                }
                layer.msg('即将刷新此页面', { icon: 1 });
                layui.data(CREATORBOX, { key: 'form', value: response.data.form })
                layui.data(CREATORBOX, { key: 'table', value: response.data.table })
                setTimeout(function () {
                  tool.refresh()
                }, 2 * 1000)
              })
              $("#import").click();
            }, function () { });
          }
        }
      });

      // =======================================

      util.event('lay-header-event', {
        menuLeft() {
          $('body').toggleClass('collapse');
        },
        menuRight() { },
      });

      element.on('nav(nav-side)', function (elem) {
        var path = elem.data('path');
        if (path) {
          // if ($(window).width() <= 768) {
          //   $('body').toggleClass('collapse');
          // }
          if (path == "/masker") {
            tool.get(path, {}, null, true)
          } else {
            util.openWin({ url: path, target: "creatorbox" });
          }
        }
      });
    });

  </script>
  <script src="static/js/app/theme.js"></script>

</body>

</html>