<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <title>{{ data.app.title }} - JSON Editor</title>
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" type="text/css" href="/static/js/editor/theme/jse-theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/static/js/editor/inject.css">
  <meta charset="utf-8">
</head>

<body>
  <pre>
  {{ data.app | tojson}}
</pre>

  <script type="module" src="/static/js/editor/lossless-json.js"></script>
  <script type="module" src="/static/js/editor/editor.js"></script>
</body>

</html>