<!DOCTYPE html>
<html lang="zh">

<head>

</head>

<body>
    <table>
        <thead>
            <tr>
                <th align="center"><g-emoji class="g-emoji" alias="arrow_forward">🔧</g-emoji> 参考</th>
                <th align="center"><g-emoji class="g-emoji" alias="arrow_forward">🔧</g-emoji> 配音调试</th>
                <th align="center"><g-emoji class="g-emoji" alias="arrow_forward">✂️</g-emoji> 专业剪辑</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">
                    <a href="https://www.bilibili.com/video/BV1jS4y1w7SW/">
                        <img src="docs/refer.gif" alt="点击观看视频" width="300">
                    </a>
                </td>
                <td align="center">
                    <image src="docs/debug.jpg" width="300"></image>
                </td>
                <td align="center">
                    <image src="docs/jianying.jpg" width="300"></image>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>