<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <title>{{ data.app.title }}</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jquery -->
  <script src="static/js/jquery/jquery.min.js"></script>
  <script src="static/js/howler/howler.min.js"></script>
  <!-- nprogress -->
  <link href="static/js/nprogress/nprogress.min.css" rel="stylesheet">
  <script src="static/js/nprogress/nprogress.min.js"></script>
  <!-- layui -->
  <link href="static/js/layui/css/layui.css" rel="stylesheet">
  <link href="static/js/layui/css/layui-dark.css" rel="stylesheet">
  <link href="static/js/layui/css/layui-nav.css" rel="stylesheet">
  <script src="static/js/layui/layui.js"></script>
  <!-- creator -->
  <script src="static/js/creator/theam.js"></script>
  <script src="static/js/creator/app.js"></script>
  <style>
    /* 使得底部浮动 */
    .floating-div {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #2F4056;
      color: white;
      text-align: center;
      padding: 10px 0;
      z-index: 9999;
    }
  </style>
</head>

<body class="collapse">
  <div class="layui-layout layui-layout-admin">

    <!-- 顶部区域 -->
    <div class="layui-header">
      <!-- 头部区域（可配合layui 已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <!-- 移动端显示 -->
        <li class="layui-nav-item layui-show-xs-inline-block" lay-header-event="menuLeft">
          <a href="/docs" target="_blank" style="padding-left: 0px; padding-right: 0px; background-color: unset">
            <i class="layui-icon layui-icon-spread-left"></i>
          </a>
        </li>
        <li class="layui-nav-item">
          <span id="layuiv" style="margin-left: 10px; font-size: 14px">{{ data.app.version }}</span>
        </li>
      </ul>
      <!-- <span class="layui-nav-bar" style="left: 22px; top: 58px; width: 0px; opacity: 0;"></span> -->
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a id="change-theme" style="padding-left: 0px; padding-right: 0px; background-color: unset">
            <i class="layui-icon layui-icon-moon" style="font-size: 20px"></i>
          </a>
        </li>
        <li class="layui-nav-item">
          <a href="https://github.com/xiesx123/CreatorBox" target="_blank"
            style="padding-right: 0px; background-color: unset">
            <i class="layui-icon layui-icon-github" style="font-size: 20px"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- 主体区域 -->
    <div class="layui-body" style="left: 0;">
      <div style="padding: 15px">

        <form class="layui-form layui-form-pane" lay-filter="form_filter">

          <div class="layui-row layui-col-space15">

            <!-- 文件 -->
            <div class="layui-col-md12">
              <div class="layui-collapse">
                <div class="layui-colla-item">

                  <div class="layui-card layui-panel">
                    <div class="layui-colla-title">文件</div>
                    <div class="layui-colla-content">

                      <div class="layui-form-item">
                        <label class="layui-form-label" id="video_play"
                          lay-tips="{content: '点击后可以播放已上传的视频', margin: '0 0 0 -10px'}">链接 <span
                            class="layui-badge-dot"></span></label>
                        <div class="layui-input-block">
                          <input id="url" type="text" name="url" lay-verify="path" placeholder="请输入视频本地路径、网络链接"
                            autocomplete="off" class="layui-input" lay-affix="clear">
                        </div>
                      </div>

                      <div class="layui-form-item">
                        <div id="video_upload_drag" class="layui-upload-drag" style="display: block;">
                          <i class="layui-icon layui-icon-upload"></i>
                          <div>或将本地文件拖拽到此处</div>
                          <div class="layui-hide layui-progress layui-progress" lay-showPercent="yes"
                            lay-filter="progress_filter">
                            <div class="layui-progress-bar" lay-percent=""></div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>

            <!-- 字幕 -->
            <div class="layui-col-md4">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">字幕</div>
                <div class="layui-card-body">

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">调试</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="whisper_debug" lay-skin="switch" lay-filter="switch_debug_filter">
                    </div>

                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '注意：开启调试会中断后续步骤', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">模型</label>
                    <div class="layui-input-block">
                      <select name="whisper_module" lay-verify="required" lay-search>
                        <option value="">选择或搜索</option>
                        {% for item in data.whisper.models %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">随机性</label>
                    <div class="layui-input-block">
                      <select name="whisper_temperature" lay-verify="required" lay-search>
                        <option value="">选择或搜索</option>
                        {% for item in data.whisper.temperatures %}
                        <option value="{{ item.val }}">{{ item.desc }} - {{ item.val }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">准确性</label>
                    <div class="layui-input-block">
                      <select name="whisper_size" lay-verify="required" lay-search>
                        <option value="">选择或搜索</option>
                        {% for item in data.whisper.beam_sizes %}
                        <option value="{{ item.val }}">{{ item.desc }} - {{ item.val }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">连贯性</label>
                    <div class="layui-input-block">
                      <select name="whisper_length" lay-verify="required" lay-search>
                        <option value="">选择或搜索</option>
                        {% for item in data.whisper.chunk_lengths %}
                        <option value="{{ item.val }}">{{ item.desc }} {{ item.duration }} - {{ item.val }}s
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">过滤无声</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="whisper_vad" lay-skin="switch">
                    </div>
                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '提示：特定场景开启', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- 说话人 -->
            <div class="layui-col-md4">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">说话人</div>
                <div class="layui-card-body">

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">调试</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="speaker_debug" lay-skin="switch" lay-filter="switch_debug_filter">
                    </div>

                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '注意：开启调试会中断后续步骤', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">模型</label>
                    <div class="layui-input-block">
                      <select name="speaker_module" lay-search disabled>
                        <option value="">默认</option>
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">使用数量</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="speaker_use_num" lay-skin="switch">
                    </div>

                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '提示：<br>数量：当确定说话人数量时使用<br>范围：当不确定说话人数量时使用<br>', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">目标数量</label>
                    <div class="layui-input-block">
                      <input type="number" name="speaker_num" lay-verify="required|number|speaker_len" placeholder="目标值"
                        autocomplete="off" class="layui-input" min="1" max="10" step="1" lay-affix="number">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">区间范围</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="number" lay-verify="required|number|speaker_len" name="speaker_min" placeholder="最小值"
                        autocomplete="off" class="layui-input" min="1" max="10" step="1" lay-affix="number">
                    </div>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="number" lay-verify="required|number|speaker_len" name="speaker_max" placeholder="最大值"
                        autocomplete="off" class="layui-input" min="1" max="10" step="1" lay-affix="number">
                    </div>

                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">性别检测</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="speaker_enable_gender" lay-skin="switch">
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- 大模型 -->
            <div class="layui-col-md4">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">翻译</div>
                <div class="layui-card-body">

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">调试</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="llm_debug" lay-skin="switch" lay-filter="switch_debug_filter">
                    </div>

                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '注意：开启调试会中断后续步骤', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">提供商</label>
                    <div class="layui-input-block">
                      <select name="llm_provider" lay-verify="required" lay-filter="llm_provider_filter">
                        <option value=""></option>
                        {% for item in data.llm.providers %}
                        <option value="{{ item.provider}}" {% if not item.enable %}disabled{% endif %}>
                          {{ item.provider }} - {{ '已配置' if item.valid else '未配置' }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">模型</label>
                    <div class="layui-input-block">
                      <input type="text" name="llm_model" lay-verify="required" placeholder="请输入模型名称" value=""
                        autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">微调</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="number" name="llm_temperature" lay-verify="required" placeholder="随机性"
                        autocomplete="off" class="layui-input" min="0.1" max="1" step="0.1" lay-affix="number">
                    </div>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="number" name="llm_top_p" lay-verify="required" placeholder="多样性" autocomplete="off"
                        class="layui-input" min="0.1" max="1" step="0.1" lay-affix="number">
                    </div>

                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">地区</label>
                    <div class="layui-input-block">
                      <select id="llm_locale" name="llm_locale" lay-verify="required" lay-filter="llm_locale_filter">
                        <option value="">选择或搜索</option>
                        {% for item in data.llm.locales %}
                        <option value="{{ item.Locale }}">{{ item.Name }} - {{ item.Locale }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">缓存</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="llm_use_cache" lay-skin="switch">
                    </div>

                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '提示：<br>开启后避免消耗额外token<br>', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- 配音 -->
            <div class="layui-col-md12">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">配音</div>
                <div class="layui-card-body">

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">调试</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="tts_debug" lay-skin="switch" lay-filter="switch_debug_filter">
                    </div>

                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '注意：开启调试会中断后续步骤', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label" id="voice_speaker"
                      lay-tips="{content: '点击可生成该模型的说话人配置', margin: '0 0 0 -10px'}">模型 <span
                        class="layui-badge-dot"></span></label>
                    <div class="layui-input-block">
                      <select id="tts_model" name="tts_model" lay-verify="required" lay-filter="tts_model_filter">
                        {% for item in data.tts.models %}
                        {% if item.enable %}
                        <option value="{{ item.model}}">
                          {{ item.desc }}
                        </option>
                        {% endif %}>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                      <input type="radio" name="tts_gender" value="1" lay-filter="tts_gender_filter" title="男">
                      <input type="radio" name="tts_gender" value="2" lay-filter="tts_gender_filter" title="女">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">语音</label>
                    <div class="layui-input-block">
                      <select id="tts_voice" name="tts_voice" lay-verify="required" lay-filter="tts_voice_filter"
                        lay-search>
                        <option value="">选择或搜索</option>
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">语速</label>
                    <div class="layui-input-block">
                      <div class="layui-input-inline">
                        <input id="tts_rate" type="number" lay-verify="required" name="tts_rate" placeholder="语速"
                          autocomplete="off" class="layui-input" min="0" max="2" step="0.1" lay-affix="number">
                      </div>
                    </div>
                  </div>

                  <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label" id="tts_play">试听 <i
                        class="layui-icon layui-icon-headset"></i></label>
                    <div class="layui-input-block">
                      <textarea id="tts_text" name="tts_text" placeholder="请输入试听文本" lay-verify="required"
                        lay-reqtext="请输入试听文本" lay-affix="clear" class="layui-textarea tts_text"
                        style="min-height: 60px;"></textarea>
                    </div>
                  </div>

                  <table id="tts_voices_table" class="layui-table">
                  </table>

                </div>
              </div>
            </div>

            <!-- 导出 -->
            <div class="layui-col-md12">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">导出</div>
                <div class="layui-card-body">

                  <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">静音检测</label>
                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="silence_threshold" placeholder="检测阈值"
                        autocomplete="off" class="layui-input" min="-100" max="0" step="10" lay-affix="number">
                    </div>
                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="silence_min" placeholder="静音长度"
                        autocomplete="off" class="layui-input" min="1" max="1000" step="10" lay-affix="number">
                    </div>
                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="silence_dynamic" placeholder="动态补偿"
                        autocomplete="off" class="layui-input" min="0.1" max="1" step="0.1" lay-affix="number">
                    </div>
                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '提示：<br>检测阈值：低于某个阈值则认为是静音<br>静音长度：最小长度<br>动态补偿：静音长度的补偿值', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">处理模式</label>
                    <div class="layui-input-block">
                      {% for item in data.audio.mode_types %}
                      <input type="radio" name="mode_type" value="{{ item.val }}" lay-filter="mode_type_filter"
                        title="{{ item.desc }}" {% if not item.enable %}disabled{% endif %}>
                      {% endfor %}
                    </div>
                  </div>

                  <div id="assign_type_div" class="layui-form-item" pane>
                    <label class="layui-form-label">对齐方式</label>
                    <div class="layui-input-block">
                      {% for item in data.audio.assign_types %}
                      <input type="radio" name="assign_type" value="{{ item.val }}" title="{{ item.desc }}">
                      {% endfor %}
                    </div>
                  </div>

                  <!-- <div class="layui-form-item" pane>
                    <label class="layui-form-label">导出方式</label>
                    <div class="layui-input-block">
                      {% for item in data.export.export_types %}
                      <input type="radio" name="export_type" value="{{ item.val }}" title="{{ item.desc }}" {% if not
                        item.enable %}disabled{% endif %}>
                      {% endfor %}
                    </div>
                  </div> -->

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">重新构建</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="rebuild" lay-skin="switch" lay-filter="switch_rebuild_filter">
                    </div>
                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '注意：开启后，会清理所有缓存重新构建', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">文件标识</label>
                    <div class="layui-input-block">
                      <input type="text" name="suffix" lay-verify="required" placeholder="请输入文件标识" autocomplete="off"
                        class="layui-input" lay-affix="clear">
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- 草稿 -->
            <div class="layui-col-md12">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">草稿</div>
                <div class="layui-card-body">

                  <!-- <div class="layui-form-item" pane>
                    <label class="layui-form-label">强制刷新</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="draft_refresh" lay-skin="switch">
                    </div>

                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '提示：<br>自动关闭当前剪映工程编辑窗口，返回剪映主页', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div> -->

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">剪映预览</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="checkbox" name="draft_preview" lay-skin="switch">
                    </div>

                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '提示：<br>1、开启后，可通过剪映快速预览/微调<br>2、文件格式：{文件名}_{标识}.mp4<br>3、草稿目录：{文件名}_{标识}<br>4、只能在Windows环境下使用', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">草稿路径</label>
                    <div class="layui-input-block">
                      <input type="text" name="draft_jypath" lay-verify="jydraft" placeholder="请输入剪映草稿路径"
                        autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">声音音量</label>

                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="draft_volume_native" placeholder="原生音量"
                        autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                    </div>

                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="draft_volume_voice" placeholder="说话音量"
                        autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                    </div>

                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="draft_volume_background" placeholder="背景音量"
                        autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">配音字幕</label>

                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required|number" name="draft_style_sdts" placeholder="文字大小"
                        autocomplete="off" class="layui-input" min="1" max="100" step="1" lay-affix="number">
                    </div>

                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required|number" name="draft_style_sdty" placeholder="文字高度"
                        autocomplete="off" class="layui-input" min="-1" max="1" step="0.1" lay-affix="number">
                    </div>

                    <div style="position: relative;float: left;display: block;">
                      <div class="layui-input-inline" style="width: 80px;">
                        <input type="text" name="draft_style_sdtc" placeholder="文字颜色" class="layui-input">
                      </div>
                      <div class="layui-inline" style="left: -11px">
                        <div id="draft_style_sdtc_select"></div>
                      </div>
                    </div>

                    <div style="position: relative; float: left;display: block;">
                      <div class="layui-input-inline" style="width: 80px;">
                        <input type="text" name="draft_style_sdtbc" placeholder="边框颜色" class="layui-input">
                      </div>
                      <div class="layui-inline" style="left: -11px;">
                        <div id="draft_style_sdtbc_select"></div>
                      </div>
                    </div>

                  </div>

                  <div class="layui-form-item" panel>
                    <label class="layui-form-label">原始字幕</label>

                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required|number" name="draft_style_snts" placeholder="文字大小"
                        autocomplete="off" class="layui-input" min="1" max="100" step="1" lay-affix="number">
                    </div>

                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required|number" name="draft_style_snty" placeholder="文字高度"
                        autocomplete="off" class="layui-input" min="-1" max="1" step="0.1" lay-affix="number">
                    </div>

                    <div style="position: relative;float: left;display: block;">
                      <div class="layui-input-inline" style="width: 80px;">
                        <input type="text" name="draft_style_sntc" placeholder="文字颜色" class="layui-input">
                      </div>
                      <div class="layui-inline" style="left: -11px">
                        <div id="draft_style_sntc_select"></div>
                      </div>
                    </div>

                    <div style="position: relative;float: left;display: block;">
                      <div class="layui-input-inline" style="width: 80px;">
                        <input type="text" name="draft_style_sntbc" placeholder="边框颜色" class="layui-input">
                      </div>
                      <div class="layui-inline" style="left: -11px;">
                        <div id="draft_style_sntbc_select"></div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <!-- 提交 -->
            <div class="layui-col-md12">
              <div class="layui-form-item layui-col-space15">
                <div id="floating-div" class="layui-col-md12">
                  <button type="submit" class="layui-btn layui-btn-fluid" lay-submit
                    lay-filter="form_submit">执行</button>
                </div>
                <div class="layui-col-md12 layui-hide">
                  <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid layui-btn-disabled"
                    lay-on="video_preview" disabled>预览</button>
                </div>
              </div>
            </div>

        </form>

      </div>

    </div>

  </div>

  <script type="text/html" id="TPL_tts_voices_table_tools">
    <div class="layui-btn-container">
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="test">试听</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="up">上移</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="down">下移</a>
    </div>
  </script>

  <script>

    layui.use(['form', 'treeTable', 'layer', 'element', 'upload', 'util', 'colorpicker', 'notice', 'tool'], function () {

      var form = layui.form;
      var treeTable = layui.treeTable;
      var layer = layui.layer;
      var element = layui.element;
      var upload = layui.upload;
      var util = layui.util;
      var colorpicker = layui.colorpicker;
      var toast = layui.notice;
      var tool = layui.tool;
      var $ = layui.$;

      let CREATORBOX = "creatorbox"
      let cache = layui.data(CREATORBOX)
      let player;

      var app = JSON.parse('{{ data.app | tojson }}')
      var os = layui.device("os").os

      var form_json_init = JSON.parse('{{ data.form | tojson }}') // 表单默认值
      var form_json = cache.hasOwnProperty('form') ? cache.form : {}     // 表单
      Object.keys(form_json).length === 0 ? Object.assign(form_json, form_json_init) : Object.assign(form_json_init, form_json)

      var table_json = cache.hasOwnProperty('table') ? cache.table : []  // 配音                      
      var task_ids = cache.hasOwnProperty('task') ? cache.task : []   // 任务

      console.log("%s %s %s", app.title, app.version, app.description);
      console.debug("current os: %s", os);

      // 表单渲染
      form.val('form_filter', form_json);

      // 禁用操作
      $('input[name="draft_preview"]').attr('disabled', os == "linux");

      // 表单验证 
      form.verify({
        path: function (value, elem) {
          if (value.length == 0) {
            return '请输入视频本地路径、网络链接';
          }
        },
        speaker_len: function (value, elem) {
          // if ($('input[name="speaker_use_num"]').is(':checked')) {}
          speaker_num = $('input[name="speaker_num"]').val()
          if (table_json.length < speaker_num) {
            return "【配音人数】不能低于【目标数量】";
          }
        },
        jydraft: function (value, elem) {
          if (!$('input[name="draft_preview"]').is(':checked')) return;
          if (value.length == 0) {
            return '请输入剪映草稿路径';
          }
        },
      });

      // 视频-试听点击
      util.on('id', {
        "video_play": function (othis) {
          tool.open("player?url=" + $("#url").val() + "&autoplay=true", "1100px", "510px");
        }
      });

      // 视频-上传
      upload.render({
        elem: '#video_upload_drag',
        url: 'loader/upload',
        accept: 'video',
        acceptMime: 'video/mp4',
        before: function (obj) {
          element.progress('progress_filter', '0%');
          layer.msg('上传中', { icon: 16, time: 0 });
        },
        progress: function (n, elem, e) {
          element.progress('progress_filter', n + '%');
          if (n == 100) {
            layer.msg('上传完毕', { icon: 1 });
          }
        },
        done: function (response) {
          $('[name="url"]').val(response.data.location)
          layer.msg('上传成功');
        },
        error: function () {
          toast.error('上传失败');
        }
      });

      // 大模型-提供商选择
      form.on('select(llm_provider_filter)', function (data) {
        if (data.elem.value == 0) {
          return $('input[name="llm_model"]').val("");
        }
        const llm_find_by_provider = (provider) => {
          var providers_json = JSON.parse('{{ data.llm.providers | tojson }}')
          return providers_json.find(item => item.provider.toLowerCase() === provider.toLowerCase());
        };
        item = llm_find_by_provider(data.elem.value);
        form_json.llm_provider = item.provider;
        form_json.llm_model = item.model;
        $('input[name="llm_model"]').val(form_json.llm_model);
      });

      // 大模型-地区选择
      form.on('select(llm_locale_filter)', function (data) {
        if (data.elem.value != "") {
          form_json.llm_locale = data.elem.value;
          form_json.tts_gender = 1;
          // 恢复默认选择
          $('input[name="tts_gender"][value="1"]').prop('checked', true);
          form.render('radio');
          // 切换语音角色
          tool.post("/tts/search", voice_search_params(form_json.tts_model, form_json.llm_locale, form_json.tts_gender), voice_search_callback, false);
          // 切换试听文本
          tool.post("/trans/translator", JSON.stringify({
            "llm_provider": form_json.llm_provider,
            "llm_model": form_json.llm_model,
            "language": form_json.llm_locale,
            "text": $("#tts_text").val()
          }), function (response) {
            form_json.tts_text = response.data;
            $("#tts_text").val(form_json.tts_text)
          }, true);
        }
      });

      // 配音-模型选择
      form.on('select(tts_model_filter)', function (data) {
        item = voice_find_by_model(data.elem.value);
        form_json.tts_model = item.model;
        $("#tts_model").val(item.model);
        tool.post("/tts/search", voice_search_params(form_json.tts_model, form_json.llm_locale, form_json.tts_gender), voice_search_callback, true)
      });

      // 配音=============

      util.on('id', {
        "voice_speaker": function (othis) {
          layer.confirm('确定生成说话人配置？', { title: '提示' }, function (index) {
            layer.close(index);
            tts_model = $('#tts_model').val()
            llm_locale = $('select[name="llm_locale"] option:selected').val()
            tool.post("/tts/search", voice_search_params(tts_model, llm_locale, 0, true), voice_search_callback, true)
          });
        }
      });

      // 配音-性别选择
      form.on('radio(tts_gender_filter)', function (data) {
        form_json.tts_gender = data.elem.value;
        tool.post("/tts/search", voice_search_params(form_json.tts_model, form_json.llm_locale, form_json.tts_gender), voice_search_callback, true)
      });

      // 配音-语音选择
      form.on('select(tts_voice_filter)', function (data) {
        var selectedOption = data.elem.options[data.elem.selectedIndex]; // 获取选中的 option
        var selectedOptgroup = selectedOption.closest('optgroup');  // 获取该选项所在的 optgroup
        form_json.tts_voice = data.elem.value;
        form_json.tts_type = selectedOptgroup.id
        console.debug(form_json.tts_gender + "-" + form_json.tts_voice);
      });

      // 配音-试听点击
      util.on('id', {
        "tts_play": function (othis) {
          form_json.tts_model = $('#tts_model').val()
          form_json.llm_locale = $('select[name="llm_locale"] option:selected').val()
          form_json.tts_rate = $("#tts_rate").val();
          form_json.tts_text = $("#tts_text").val()
          var isvalid = form.validate('.tts_text');
          if (isvalid) {
            const findItemByVoice = (provider, locale, voice, rate, text) =>
              table_json.find(item =>
                item.provider === provider && item.locale === locale && item.voice === voice && item.rate === rate && item.text === text
              );
            var item = findItemByVoice(form_json.llm_locale, form_json.tts_voice, form_json.tts_rate, form_json.tts_text)
            if (item != null) {
              return voice_play(item.url);
            }
            output = form_json.llm_locale + "_" + form_json.tts_voice + "_" + form_json.tts_rate + "_" + form_json.tts_text.length
            tool.post("/tts/generate", JSON.stringify({
              "model": form_json.tts_model,
              "locale": form_json.llm_locale,
              "voice": form_json.tts_voice,
              "volume": localStorage.getItem('step') || 1,
              "rate": form_json.tts_rate,
              "pitch": "0",
              "text": form_json.tts_text,
              "output": output
            }), function (response) {
              toast.info(output, "语音试听")
              console.debug(response.data)
              var url = '/loader/local?url=' + response.data.path;
              var duration = response.data.duration + "s";
              var type = response.data.duration + "s";
              voice_play(url);
              table_json.unshift({
                provider: voice_find_by_model(form_json.tts_model).provider,
                model: form_json.tts_model,
                type: voice_type(form_json.tts_type),
                locale: form_json.llm_locale,
                gender: form_json.tts_gender,
                voice: form_json.tts_voice,
                rate: form_json.tts_rate,
                text: form_json.tts_text,
                duration: duration,
                url: url
              })
              swapData(0, 0)
            }, true)
          }
        }
      });

      // 配音-搜索回调
      var voice_search_callback = function (response) {
        // 清空原有选项
        $("#tts_voice").empty();
        if (response.data.length == 0) {
          toast.warning("暂无可用语音", "语音列表")
        } else {
          toast.success("已找到 " + response.data.length + " 条语音", "语音列表")
        }
        // 转换显示对象
        const wrappedData = response.data.reduce((acc, item) => {
          let group = voice_type(item.type);
          let existingGroup = acc.find(g => g.group === group);
          if (existingGroup) {
            existingGroup.item.push(item);
          } else {
            acc.push({
              type: item.type, group: group, item: [item]
            });
          }
          return acc;
        }, []);
        // 动态条件选项
        const optionHtml = (list) => {
          let html = '';
          list.forEach(obj => {
            html += `<optgroup id="${obj.type}" label="${obj.group}">\n`;
            obj.item.forEach(i => {
              html += `  <option value="${i.speaker}">` + (i.gender === "male" ? "男" : "女") + " - " + i.speaker + `</option>\n`;
            });
            html += `</optgroup>\n`;
          });
          return html;
        };
        $("#tts_voice").append(optionHtml(wrappedData))
        form.render('select');
        // 默认选择第一个
        if (response.data.length > 0) {
          form_json.tts_voice = response.data[0].speaker;
          form_json.tts_type = response.data[0].type;
          console.debug(form_json.tts_gender + "-" + form_json.tts_voice);
        }
      };

      // 配音-选择模型
      var voice_find_by_model = (model) => {
        var models = JSON.parse('{{ data.tts.models | tojson }}')
        return models.find(item => item.model.toLowerCase() === model.toLowerCase());
      };

      // 配音-公共参数
      var voice_search_params = (model, locale, gender, init = false) => {
        return JSON.stringify({ "model": model, "locale": locale, "gender": gender, "isinit": init, "file": $("#url").val() });
      };

      // 配音-语音类型
      var voice_type = function (type) {
        types = {
          2: "自定义",
          1: "视频",
          0: "内置"
        }
        return types[type] || "未知"
      };

      // 配音-音频播放
      var voice_play = function (url) {
        if (player) {
          player.unload();
        }
        player = new Howl({
          src: [url],
          format: ['wav'],
          autoplay: true,
          html5: true,
          onload: function () {
            console.debug('audio loaded');
          },
          onplay: function () {
            console.debug('audio playing');
          },
          onpause: function () {
            console.debug('audio paused');
          },
          onstop: function () {
            console.debug('audio stopped');
          },
          onend: function () {
            console.debug('audio ended');
          },
        });
      };

      // 配音-默认初始化
      tool.post("/tts/search", voice_search_params(form_json.tts_model, form_json.llm_locale, form_json.tts_gender), voice_search_callback, true)

      // 配音-说话人表格
      var inst = treeTable.render({
        elem: '#tts_voices_table',
        data: table_json,
        page: false,
        cols: [[
          { title: '说话人', fixed: 'left', width: "80", align: "center", templet: d => '<div title="' + d.text + '">' + d.LAY_INDEX + '</div>' },
          { title: '模型', fixed: 'left', width: "80", align: "center", field: 'provider', templet: d => '<div title="' + d.model + '">' + d.provider + '</div>' },
          { title: '类型', fixed: 'left', width: "80", align: "center", field: 'type', templet: d => '<div title="' + d.text + '">' + d.type + '</div>' },
          { title: '地区', fixed: 'left', width: "80", align: "center", field: 'locale', templet: d => '<div title="' + d.text + '">' + d.locale + '</div>' },
          { title: '性别', fixed: 'left', width: "80", align: "center", field: 'gender', templet: d => '<div title="' + d.text + '">' + (parseInt(d.gender) === 1 ? '男' : parseInt(d.gender) === 2 ? '女' : '未知') + '</div>' },
          { title: '语音', fixed: 'left', field: 'voice', templet: d => '<div title="' + d.text + '">' + d.voice + '</div>' },
          { title: '语速', fixed: 'left', width: "80", field: 'rate', templet: d => '<div title="' + d.text + '">' + d.rate + '</div>' },
          { title: '时长', fixed: 'left', width: "80", field: 'duration', templet: d => '<div title="' + d.text + '">' + d.duration + '</div>' },
          { title: "操作", fixed: 'left', width: "200", align: "center", toolbar: "#TPL_tts_voices_table_tools" }
        ]],
      });

      // 配音-说话人表格工具事件
      treeTable.on('tool(' + inst.config.id + ')', function (obj) {
        var data = obj.data;
        var idx = table_json.findIndex(item => item.voice === data.voice);
        if (obj.event === "test") {
          voice_play(data.url);
        } else if (obj.event === "del") {
          layer.confirm(`确定删除【${data.voice}】么?`, { title: '提示' }, function (index) {
            obj.del();
            layer.close(index);
            if (idx < table_json.length) {
              table_json.splice(idx, 1);
            }
            swapData(0, 0);
          });
        } else if (obj.event === 'up') {
          if (idx === 0) {
            layer.msg('已置顶');
            return;
          }
          swapData(idx, idx - 1);
        } else if (obj.event === 'down') {
          if (idx === table_json.length - 1) {
            layer.msg('已置底');
            return;
          }
          swapData(idx, idx + 1);
        }
      });

      // 交换数组元素并重载表格
      var swapData = function swapData(i, j) {
        var temp = table_json[i];
        if (temp) {
          table_json[i] = table_json[j];
          table_json[j] = temp;
        }
        // 重载表格数据
        layui.table.reload('tts_voices_table', {
          data: table_json
        });
        // 本地存储
        layui.data(CREATORBOX, { key: 'table', value: table_json });
      }


      // 导出=============

      // 导出-模式选择
      form.on('radio(mode_type_filter)', function (data) {
        if (data.elem.value == 1) {
          $('#assign_type_div').removeClass('layui-hide');
        } else {
          $('#assign_type_div').addClass('layui-hide');
        }
      });

      // 是否重构开关事件
      form.on('switch(switch_rebuild_filter)', function (data) {
        if (this.checked) {
          toast.warning("重新构建已开启", "提示");
          layer.tips('注意：开启重构则会删除缓存重新执行', data.othis)
        } else {
          toast.info("重新构建已关闭", "提示");
        }
      });

      // 字幕原生
      colorpicker.render({
        elem: '#draft_style_sntc_select',
        color: form_json.draft_style_sntc,
        done: function (color) {
          $('[name="draft_style_sntc"]').val(color);
        }
      });
      colorpicker.render({
        elem: '#draft_style_sntbc_select',
        color: form_json.draft_style_sntbc,
        done: function (color) {
          $('[name="draft_style_sntbc"]').val(color);
        }
      });

      // 字幕配音
      colorpicker.render({
        elem: '#draft_style_sdtc_select',
        color: form_json.draft_style_sdtc,
        done: function (color) {
          $('[name="draft_style_sdtc"]').val(color);
        }
      });
      colorpicker.render({
        elem: '#draft_style_sdtbc_select',
        color: form_json.draft_style_sdtbc,
        done: function (color) {
          $('[name="draft_style_sdtbc"]').val(color);
        }
      });

      // 提交事件
      form.on('submit(form_submit)', function (data) {
        var field = data.field;
        var elem = data.elem;
        // 本地存储
        layui.data(CREATORBOX, { key: 'form', value: field });
        // 配音
        field.tts_dubbing = JSON.stringify(table_json);
        // 样式
        style_json = {
          "srt_nat": { "text_size": field.draft_style_snts, "text_color": field.draft_style_sntc, "text_border_color": field.draft_style_sntbc, "text_transform_y": field.draft_style_snty },
          "srt_dub": { "text_size": field.draft_style_sdts, "text_color": field.draft_style_sdtc, "text_border_color": field.draft_style_sdtbc, "text_transform_y": field.draft_style_sdty },
        }
        field.draft_style = JSON.stringify(style_json);
        // 请求数据
        data = JSON.stringify(field, null, 2);
        console.debug(field)
        // 确认执行
        layer.confirm('确定执行吗？', { title: '提示' }, function (index) {
          layer.close(index);
          // 禁用预览
          $("button[lay-on='video_preview']").addClass("layui-btn-disabled").prop("disabled", true);
          // 请求调用
          tool.post("/video/dubbing", data, function (response) {
            console.debug(response.data)
            var taskId = response.data.task_id
            toast.info(taskId, "任务提交成功");
            // 任务存储
            if (!$('input[name="preview"]').is(':checked')) {
              task_ids.push(taskId);
              layui.data(CREATORBOX, { key: 'task', value: task_ids });
            }
          }, true)
        });

        return false;
      });

      // 回调通知
      tool.connect(function (data) {
        data = JSON.parse(event.data)
        if (data.type == "whisper") {
          console.debug(data.message);
        }
        else if (data.type == "video") {
          console.debug(data.message);
          toast.success(task_ids.at(-1), "任务处理成功");
          // 开启预览
          $("button[lay-on='video_preview']").removeClass("layui-btn-disabled").prop("disabled", false);
        }
      })

      // 预览事件
      util.on('lay-on', {
        "video_preview": function (othis) {
          tool.open("player?url=" + task_ids.pop() + "&autoplay=true", "1100px", "510px");
        }
      });

      // 固定条
      util.fixbar({
        bars: [{
          type: 'log',
          icon: 'layui-icon-log'
        }, {
          type: 'player',
          icon: 'layui-icon-video'
        }],
        bar1: false,
        bar2: false,
        bgcolor: '#393D52',
        css: { bottom: 80 },
        on: {
          mouseenter: function (desc) {
            layer.tips(desc, this, {
              tips: 4,
              fixed: true
            });
          },
          mouseleave: function (type) {
            layer.closeAll('tips');
          }
        },
        click: function (type) {
          if (type == "log") {
            util.openWin({ url: "log" });
          } else if (type == "player") {
            if (task_ids.length > 0) {
              tool.open("player?url=" + task_ids.slice(-1)[0] + "&autoplay=true", "1100px", "510px");
            } else {
              util.openWin({ url: "player?url=&autoplay=true" });
            }
          }
        }
      });
    });

  </script>

</body>

</html>