<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <title>{{ data.app.title }}</title>
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-- jquery -->
  <script src="static/js/jquery/jquery.min.js"></script>
  <script src="static/js/howler/howler.min.js"></script>
  <!-- nprogress -->
  <link href="static/js/nprogress/nprogress.min.css" rel="stylesheet">
  <script src="static/js/nprogress/nprogress.min.js"></script>
  <!-- socket -->
  <script src="static/js/socket/socket.io.min.js"></script>
  <!-- layui -->
  <link href="static/js/layui/css/layui.css" rel="stylesheet">
  <link href="static/js/layui/css/layui-nav.css" rel="stylesheet">
  <link href="static/js/layui/css/layui-dark.css" rel="stylesheet">
  <script src="static/js/layui/layui.js"></script>
  <!-- creator -->
  <link href="static/js/creatorbox/app.css" rel="stylesheet">
  <script src="static/js/creatorbox/app.js"></script>
  <style>
    /* 底部浮动 */
    .floating-div {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #393D52;
      color: white;
      text-align: center;
      padding: 0px 0;
      z-index: 9999;
    }
  </style>
</head>

<body class="collapse" layadmin-themealias="default">

  <div class="layui-layout layui-layout-admin">

    <!-- 顶部区域 -->
    <div class="layui-header">
      <!-- 头部区域（可配合layui 已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item" lay-header-event="menuLeft">
          <i class="layui-icon layui-icon-spread-left" style="font-size: 18px"></i>
        </li>
        <li class="layui-nav-item" lay-header-event="menuLeft">
          <span style="padding: 15px; font-size: 16px; background-color: unset">{{ data.app.version }} </span>
        </li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a id="change-theme" style="padding-left: 8px;padding-right: 8px;">
            <i class="layui-icon layui-icon-moon" style="font-size: 18px"></i>
          </a>
        </li>
        <li class="layui-nav-item">
          <a href="https://github.com/xiesx123/CreatorBox" target="_blank"
            style="padding-left: 8px;padding-right: 8px;">
            <i class="layui-icon layui-icon-github" style="font-size: 18px"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- 导航区域 -->
    <div class="layui-side">
      <div class="layui-side-scroll">
        <div class="layui-logo ">{{ data.app.title }}</div>
        <ul class="layui-nav layui-nav-tree layui-bg-gray" lay-unselect lay-filter="nav-side" id="ws-nav-side">
          <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">{{ _("group_feature") }}</a>
            <dl class="layui-nav-child">
              <dd><a data-path="/speaker" href="javascript:;">
                  <i style="font-size: 18px" class="layui-icon layui-icon-headset"></i> {{ _("nav_speaker") }}</a></dd>
              <dd><a data-path="/gradio" href="javascript:;">
                  <i style="font-size: 18px" class="layui-icon layui-icon-component"></i> {{ _("nav_gradio") }}</a></dd>
              {% if data.nav.mask_enable %}
              <dd><a data-path="/masker" href="javascript:;"><i style="font-size: 18px"
                    class="layui-icon layui-icon-theme"></i> {{ _("nav_masker_remove") }}</a></dd>
              {% endif %}
              <dd><a data-path="/settings" href="javascript:;"><i style="font-size: 16px"
                    class="layui-icon layui-icon-set"></i> {{ _("nav_set") }}</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">{{ _("group_assist") }}</a>
            <dl class="layui-nav-child">
              <dd><a data-path="/app/masker" href="javascript:;"><i style="font-size: 18px"
                    class="layui-icon layui-icon-template"></i> {{ _("nav_masker_painter") }}</a></dd>
              <dd><a data-path="/editor" href="javascript:;"><i style="font-size: 18px"
                    class="layui-icon layui-icon-code-circle"></i> {{ _("nav_editor") }}</a></dd>
              <dd><a data-path="/player" href="javascript:;"><i style="font-size: 18px"
                    class="layui-icon layui-icon-play"></i> {{ _("nav_play") }}</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">{{ _("group_doc") }}</a>
            <dl class="layui-nav-child">
              <dd><a data-path="/docs" href="javascript:;"><i style="font-size: 18px"
                    class="layui-icon layui-icon-release"></i> {{ _("nav_swagger") }}</a></dd>
              <dd><a data-path="https://xiesx123.github.io/CreatorBox" href="javascript:;">
                  <i style="font-size: 18px" class="layui-icon layui-icon-read"></i> {{ _("nav_vitepress") }}</a>
              </dd>
              <dd><a data-path="https://discord.gg/ZSeETM6bsS" href="javascript:;">
                  <i style="font-size: 18px" class="layui-icon layui-icon-chat"></i> {{ _("nav_discord") }}</a>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>

    <!-- 主体区域 -->
    <div id="layui-body" class="layui-body" style="padding: 10px">
      <form class="layui-form layui-form-pane" lay-filter="form_filter">

        <div class="layui-row layui-col-space15">

          <!-- 基础 -->
          <div class="layui-col-md12">
            <div class="layui-collapse" lay-filter="collapse_filter_base">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{ _("dub.base") }}
                  </div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item">
                      <label class="layui-form-label" id="video_upload"
                        lay-tips="{content: '点击选择文件', margin: '0 0 0 -10px'}">{{ _("video_url") }} <span
                          class="layui-badge-dot layui-bg-green"></span></label>
                      <div class="layui-input-block">
                        <input id="video_url" type="text" name="video_url" lay-verify="path"
                          placeholder="{{ _('video_placeholder') }}" autocomplete="off" class="layui-input"
                          lay-affix="clear">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("locale") }}</label>
                      <div class="layui-input-block">
                        <select id="locale" name="locale" lay-verify="required" lay-filter="locale_filter">
                          <option value="">{{ _("select_or_search") }}</option>
                          {% for item in data.llm.locales %}
                          <option value="{{ item.locale }}">{{ item.name }} - {{ item.locale }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{ _("mode_type") }}</label>
                      <div class="layui-input-block">
                        {% for item in data.base.mode_types %}
                        <input type="radio" name="mode_type" value="{{ item.val }}" lay-filter="mode_type_filter"
                          title="{{ item.desc }}" {% if not item.enable %}disabled{% endif %}>
                        {% endfor %}
                      </div>
                    </div>

                    <div class="layui-form-item" pane id="align_type_div">
                      <label class="layui-form-label">{{ _("align_type") }}</label>
                      <div class="layui-input-block">
                        {% for item in data.base.align_types %}
                        <input type="radio" name="align_type" value="{{ item.val }}" title="{{ item.desc }}">
                        {% endfor %}
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{ _("options") }}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="preview" lay-skin="tag" title="{{ _(" preview") }}">
                        <input type="checkbox" name="rebuild" lay-skin="tag" title="{{ _(" rebuild") }}">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("suffix") }}</label>
                      <div class="layui-input-block">
                        <input id="suffix" type="text" name="suffix" lay-verify="required"
                          placeholder="{{ _('suffix_placeholder') }}" autocomplete="off" class="layui-input"
                          lay-affix="clear">
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 字幕 -->
          <div class="layui-col-md6">
            <div class="layui-collapse" lay-filter="collapse_filter_asr">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{ _("dub.subtitle") }}
                    <!-- <a href="https://xiesx123.github.io/CreatorBox" target="_blank">
                      <i class="layui-icon layui-icon-tips" style="font-size: 20px;margin-top:-10px"></i>
                    </a> -->
                  </div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item" pane lay-tips="{content: '注意：开启调试会中断后续步骤', margin: '0 0 0 -10px'}">
                      <label class="layui-form-label">{{ _("debug") }}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="asr_debug" lay-skin="switch" lay-filter="switch_debug_filter">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("provider") }}</label>
                      <div class="layui-input-block">
                        <select name="asr_provider" lay-filter="asr_provider_filter">
                          {% for item in data.asr.providers %}
                          <option value="{{ item.provider}}" {% if not item.enable %}disabled{% endif %}>
                            {{ item.desc }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="subtitle_div">
                      <div class="layui-form-item">
                        <label class="layui-form-label" id="subtitle_upload">{{ _("subtitle_url") }} <span
                            class="layui-badge-dot layui-bg-green"></span></label>
                        <div class="layui-input-block">
                          <input id="subtitle_url" type="srt" name="subtitle_url" lay-verify="subtitle_srt"
                            placeholder="请输入字幕文件路径（SRT）" autocomplete="off" class="layui-input" lay-affix="clear">
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="jydraft_div">
                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("draft_name") }}</label>
                        <div class="layui-input-block">
                          <select name="draft_name" lay-verify="draft_name" lay-search>
                            <option value="">{{ _("select_or_search") }}</option>
                            {% for item in data.asr.draftnames %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="whisper_div">

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("model") }}</label>
                        <div class="layui-input-block">
                          <select name="asr_model" lay-verify="required" lay-search>
                            <option value="">{{ _("select_or_search") }}</option>
                            {% for item in data.asr.whispers %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("whisper_size") }}</label>
                        <div class="layui-input-block">
                          <select name="whisper_size" lay-verify="required" lay-search>
                            <option value="">{{ _("select_or_search") }}</option>
                            {% for item in data.asr.beam_sizes %}
                            <option value="{{ item.val }}">{{ item.desc }} - {{ item.val }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("whisper_temperature") }}</label>
                        <div class="layui-input-block">
                          <select name="whisper_temperature" lay-verify="required" lay-search>
                            <option value="">{{ _("select_or_search") }}</option>
                            {% for item in data.asr.temperatures %}
                            <option value="{{ item.val }}">{{ item.desc }} - {{ item.val }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("whisper_length") }}</label>
                        <div class="layui-input-block">
                          <select name="whisper_length" lay-verify="required" lay-search>
                            <option value="">{{ _("select_or_search") }}</option>
                            {% for item in data.asr.chunk_lengths %}
                            <option value="{{ item.val }}">{{ item.desc }} {{ item.duration }} - {{ item.val }}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{ _("uvr") }}</label>
                      <div class="layui-input-block">
                        <select name="uvr_model" lay-search>
                          <option value="">{{ _("select_or_search") }}</option>
                          {% for item in data.asr.uvrmodels %}
                          <option value="{{ item }}">{{ item }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{ _("align_enable") }}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="align_enable" lay-skin="switch">
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{ _("emotion_enable") }}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="emotion_enable" lay-skin="switch">
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{ _("speaker_use_num") }}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="speaker_use_num" lay-skin="switch"
                          lay-filter="switch_speaker_filter">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("speaker_range") }}</label>
                      <div class="layui-input-inline" style="width: 142px;">
                        <input type="number" lay-verify="required|number|speaker_len" name="speaker_min"
                          placeholder="最小值" autocomplete="off" class="layui-input" min="1" max="10" step="1"
                          lay-affix="number">
                      </div>
                      <div class="layui-input-inline" style="width: 142px;">
                        <input type="number" lay-verify="required|number|speaker_len" name="speaker_max"
                          placeholder="最大值" autocomplete="off" class="layui-input" min="1" max="10" step="1"
                          lay-affix="number">
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 翻译 -->
          <div class="layui-col-md6">
            <div class="layui-collapse" lay-filter="collapse_filter_llm">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{ _("dub.translation") }}</div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item" pane lay-tips="{content: '注意：开启调试会中断后续步骤', margin: '0 0 0 -10px'}">
                      <label class="layui-form-label">{{ _("debug") }}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="llm_debug" lay-skin="switch" lay-filter="switch_debug_filter">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("provider") }}</label>
                      <div class="layui-input-block">
                        <select name="llm_provider" lay-filter="llm_provider_filter">
                          <option value="ignore">忽略翻译</option>
                          {% for item in data.llm.providers %}
                          <option value="{{ item.provider}}" {% if not item.enable %}disabled{% endif %}>
                            {{ item.provider }} - {{ '已配置' if item.valid else '未配置' }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="deeplx_div">
                      <div class="layui-form-item">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                          <input type="text" name="deeplx_server" placeholder="请输入服务地址" autocomplete="off"
                            class="layui-input" lay-affix="clear">
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="llm_div">

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("model") }}</label>
                        <div class="layui-input-block">
                          <input type="text" name="llm_model" placeholder="请输入模型名称" autocomplete="off"
                            class="layui-input" lay-affix="clear">
                        </div>
                      </div>

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("llm_temperature") }}</label>
                        <div class="layui-input-block">
                          <input type="number" name="llm_temperature" lay-verify="required" placeholder="目标值 [0.0,1.0]"
                            autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                        </div>
                      </div>

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("llm_top_p") }}</label>
                        <div class="layui-input-block">
                          <input type="number" name="llm_top_p" lay-verify="required" placeholder="目标值 [0.0,1.0]"
                            autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                        </div>
                      </div>

                      <div class="layui-form-item" pane
                        lay-tips="{content: '提示：<br>启用可避免重复请求，防止消耗额外Token<br>', margin: '0 0 0 -10px'}">
                        <label class="layui-form-label">{{ _("llm_use_cache") }}</label>
                        <div class="layui-input-block">
                          <input type="checkbox" name="llm_use_cache" lay-skin="switch">
                        </div>
                      </div>

                      <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">{{ _("llm_instruct") }}</label>
                        <div class="layui-input-block">
                          <textarea name="llm_instruct" placeholder="示例：【去掉结尾的标点】、【阿拉伯数字使用中文代替】等等" lay-affix="clear"
                            class="layui-textarea" style="min-height: 161px"></textarea>
                        </div>
                      </div>

                    </div>

                    <div class="layui-form-item">

                      <div class="layui-hide" id="opt_div">
                        <label class="layui-form-label">{{ _("llm_batch_size") }}</label>
                        <div class="layui-input-block">
                          <input type="number" name="llm_batch_size" lay-verify="required" placeholder="目标值 [10,100]"
                            autocomplete="off" class="layui-input" min="10" max="100" step="10" lay-affix="number">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 配音 -->
          <div class="layui-col-md12">
            <div class="layui-collapse" lay-filter="collapse_filter_tts">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{ _("dub.dubbing") }}
                  </div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item">
                      <label class="layui-form-label" id="video_speaker"
                        lay-tips="{content: '点击生成视频说话人音色', margin: '0 0 0 -10px'}">{{ _("provider") }} <span
                          class="layui-badge-dot layui-bg-green"></span></label>
                      <div class="layui-input-block">
                        <select id="tts_provider" name="tts_provider" lay-verify="required"
                          lay-filter="tts_provider_filter">
                          {% for item in data.tts.providers %}
                          {% if item.enable %}
                          <option value="{{ item.provider}}">
                            {{ item.desc }}
                          </option>
                          {% endif %}>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("model") }}</label>
                      <div class="layui-input-block">
                        <input type="text" name="tts_model" placeholder="请输入模型名称" autocomplete="off" class="layui-input"
                          lay-affix="clear" disabled>
                      </div>
                    </div>

                    <div class="layui-form-item" pane>
                      <label class="layui-form-label">{{ _("tts_gender") }}</label>
                      <div class="layui-input-block">
                        <input type="radio" name="tts_gender" value="1" lay-filter="tts_gender_filter" title="男">
                        <input type="radio" name="tts_gender" value="2" lay-filter="tts_gender_filter" title="女">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("tts_voice") }}</label>
                      <div class="layui-input-block">
                        <select id="tts_voice" name="tts_voice" lay-verify="required" lay-filter="tts_voice_filter"
                          lay-search="{caseSensitive:false, fuzzy: true}">
                          <option value="">{{ _("select_or_search") }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("tts_volume") }}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-inline">
                          <input type="number" lay-verify="required" name="tts_volume" placeholder="目标值 [0.0,1.0]"
                            autocomplete="off" class="layui-input" min="0" max="2" step="0.1" lay-affix="number">
                        </div>
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("tts_rate") }}</label>
                      <div class="layui-input-block">
                        <div class="layui-input-inline">
                          <input type="number" lay-verify="required" name="tts_rate" placeholder="目标值 [0,2]"
                            autocomplete="off" class="layui-input" min="0" max="2" step="0.1" lay-affix="number">
                        </div>
                      </div>
                    </div>

                    <div class="layui-col-md12 layui-hide" id="e2f5_div">

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("tts_step") }}</label>
                        <div class="layui-input-block">
                          <div class="layui-input-inline">
                            <input type="number" lay-verify="required" name="tts_step" placeholder="目标值 [4,64]"
                              autocomplete="off" class="layui-input" min="4" max="64" step="1" lay-affix="number">
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="layui-col-md12 layui-hide" id="xtts_div">

                    </div>

                    <div class="layui-col-md12 layui-hide" id="cosy_div">

                      <div class="layui-form-item">
                        <label class="layui-form-label">{{ _("tts_instruct") }}</label>
                        <div class="layui-input-block">
                          <input name="tts_instruct" placeholder="示例：【地区方言】、【说话风格】、【角色扮演】" lay-affix="clear"
                            class="layui-input"></textarea>
                        </div>
                      </div>

                    </div>

                    <div class="layui-form-item layui-hide" pane id="opt_vc"
                      lay-tips="{content: '将来源声音转换为目标的声音', margin: '0 0 0 -10px'}">
                      <label class="layui-form-label">{{ _("tts_vc") }}</label>
                      <div class="layui-input-block">
                        <input type="checkbox" name="tts_vc" lay-skin="switch" lay-filter="switch_debug_filter">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("tts_remarks") }}</label>
                      <div class="layui-input-block">
                        <input name="tts_remarks" placeholder="随便写点什么" lay-affix="clear" class="layui-input"></textarea>
                      </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                      <label class="layui-form-label" id="tts_play"
                        lay-tips="{content: '点击试听', margin: '0 0 0 -10px'}">{{
                        _("tts_play") }} <i class="layui-icon layui-icon-headset"></i></label>
                      <div class="layui-input-block">
                        <textarea id="tts_text" name="tts_text" placeholder="请输入试听文本" lay-verify="required"
                          lay-reqtext="请输入试听文本" lay-affix="clear" class="layui-textarea tts_text"></textarea>
                      </div>
                    </div>

                    <table id="tts_voices_table" class="layui-table"></table>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 草稿 -->
          <div class="layui-col-md12" id="draft_div">
            <div class="layui-collapse" lay-filter="collapse_filter_draft">
              <div class="layui-colla-item">

                <div class="layui-card layui-panel">
                  <div class="layui-colla-title">{{ _("dub.draft") }}
                    <!-- <i class="layui-icon layui-icon-tips" lay-tips="要支持的噢"></i> -->
                  </div>
                  <div class="layui-colla-content layui-show">

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("draft_volume") }}</label>

                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required" name="draft_volume_native" placeholder="原声 [0,1]"
                          autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                      </div>

                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required" name="draft_volume_background" placeholder="背景 [0,1]"
                          autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                      </div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">{{ _("draft_style_dts") }}</label>

                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required|number" name="draft_style_dts" placeholder="文字大小"
                          autocomplete="off" class="layui-input" min="0" max="100" step="1" lay-affix="number">
                      </div>

                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required|number" name="draft_style_dty" placeholder="文字高度"
                          autocomplete="off" class="layui-input" min="-9999" max="9999" step="1" lay-affix="number">
                      </div>

                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required|number" name="draft_style_dtbw" placeholder="描边粗细"
                          autocomplete="off" class="layui-input" min="-9999" max="9999" step="1" lay-affix="number">
                      </div>

                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="hidden" name="draft_style_dtc" placeholder="文字颜色" class="layui-input">
                        <div id="draft_style_dtc_select"></div>
                        <input type="hidden" name="draft_style_dtbc" placeholder="边框颜色" class="layui-input">
                        <div id="draft_style_dtbc_select"></div>
                      </div>

                    </div>

                    <div class="layui-form-item" panel>
                      <label class="layui-form-label">{{ _("draft_style_nts") }}</label>

                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required|number" name="draft_style_nts" placeholder="文字大小"
                          autocomplete="off" class="layui-input" min="0" max="100" step="1" lay-affix="number">
                      </div>

                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required|number" name="draft_style_nty" placeholder="文字高度"
                          autocomplete="off" class="layui-input" min="-9999" max="9999" step="1" lay-affix="number">
                      </div>

                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required|number" name="draft_style_ntbw" placeholder="描边粗细"
                          autocomplete="off" class="layui-input" min="-9999" max="9999" step="1" lay-affix="number">
                      </div>

                      <div class="layui-input-inline" style="width: 100px;">
                        <input type="hidden" name="draft_style_ntc" placeholder="文字颜色" class="layui-input">
                        <div id="draft_style_ntc_select"></div>
                        <input type="hidden" name="draft_style_ntbc" placeholder="边框颜色" class="layui-input">
                        <div id="draft_style_ntbc_select"></div>
                      </div>
                    </div>

                    <div class="layui-form-item layui-show">
                      <label class="layui-form-label">{{ _("silence_threshold") }}</label>
                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required" name="silence_threshold" placeholder="检测阈值"
                          autocomplete="off" class="layui-input" min="-100" max="0" step="10" lay-affix="number">
                      </div>
                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required" name="silence_min_len" placeholder="最小长度"
                          autocomplete="off" class="layui-input" min="1" max="1000" step="1" lay-affix="number">
                      </div>
                      <div class="layui-input-inline" style="width: 120px;">
                        <input type="number" lay-verify="required" name="silence_keep" placeholder="保留长度"
                          autocomplete="off" class="layui-input" min="1" max="1000" step="1" lay-affix="number">
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 提交 -->
          <div class="layui-col-md12">
            <div class="layui-form-item layui-col-space15">
              <div id="floating-div" class="layui-col-md12">
                <button type="submit" class="layui-btn layui-btn-fluid" lay-submit lay-filter="form_submit">{{
                  _("submit") }}</button>
              </div>
              <!-- <div class="layui-col-md12">
                <div class="layui-col-md2">
                  <button type="reset" class="layui-btn layui-btn-primary layui-border layui-btn-fluid">重置</button>
                </div>
              </div> -->
            </div>
          </div>

      </form>
    </div>

    <div>
      <input type="hidden" id="import" />
    </div>

  </div>

  <script type="text/html" id="TPL_tts_voices_table_tools">
    <div class="layui-btn-container">
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="preview">{{ _("table_tools_preview") }}</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">{{ _("table_tools_delete") }}</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="up">{{ _("table_tools_move_up") }}</a>
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="down">{{ _("table_tools_move_down") }}</a>
    </div>
  </script>

  <script>

    layui.use(['form', 'layer', 'element', 'util', 'notice', 'tool', 'asr', 'llm', 'tts', 'draft'], function () {

      var form = layui.form;
      var layer = layui.layer;
      var element = layui.element;
      var util = layui.util;
      var toast = layui.notice;
      var tool = layui.tool;
      var $ = layui.$;

      var app = JSON.parse('{{ data.app | tojson }}')
      var user = JSON.parse('{{ data.user | tojson }}')
      var os = '{{ os }}'
      console.log("%s %s.%s build on %s at %s (%s %s)", app.title, app.version, app.build.hash, app.build.branch, app.build.date, os, app.serial);
      console.log("%s %s %s", user.name ?? 'guest', user.subscriber, util.toDateString(user.subexpired));
      console.log("%s", app.description);

      let CREATORBOX = "dubbing"
      let cache = layui.data(CREATORBOX)

      var form_data = JSON.parse('{{ data.form | tojson }}')              // 表单默认值
      var cache_form = cache.hasOwnProperty('form') ? cache.form : {}     // 表单缓存值
      var cache_table = cache.hasOwnProperty('table') ? cache.table : []  // 配音缓存值
      var form_json = Object.keys(cache_form).length === 0 ? Object.assign({}, form_data) : Object.assign({}, form_data, cache_form)

      var asr = layui.asr;
      asr.setData(form_json)
      asr.setProviderData(JSON.parse('{{ data.asr.providers | tojson }}'))

      var llm = layui.llm;
      llm.setData(form_json)
      llm.setProviderData(JSON.parse('{{ data.llm.providers | tojson }}'))

      var tts = layui.tts;
      tts.setData(form_json, cache_table)
      tts.setProviderData(JSON.parse('{{ data.tts.providers | tojson }}'))

      var draft = layui.draft;
      draft.setData(form_json)

      // 表单渲染
      form.val('form_filter', form_json);

      // 表单初始
      $('#align_type_div').toggleClass('layui-hide', form_json.mode_type != 1);
      $('#draft_div').toggleClass('layui-hide', '{{ data.draft.enable }}' !== 'True');

      // 表单验证 
      form.verify({
        path: function (value, elem) {
          if (value.length == 0) {
            return '请输入本地路径、网络链接';
          }
        },
        subtitle_srt: function (value, elem) {
          if ($('select[name="asr_provider"]').val() != 'Subtitle') return;
          subtitle_url = $('input[name="subtitle_url"]').val()
          if (subtitle_url.length == 0) {
            return "请输出字幕文件";
          }
        },
        draft_name: function (value, elem) {
          if ($('select[name="asr_provider"]').val() != 'JyDraft') return;
          draft_name = $('select[name="draft_name"]').val()
          if (draft_name.length == 0) {
            return "请选择剪映草稿";
          }
        },
        speaker_len: function (value, elem) {
          if ($('input[name="asr_debug"]').is(':checked')) return;
          if ($('input[name="llm_debug"]').is(':checked')) return;
          speaker_num = $('input[name="speaker_num"]').val()
          if (cache_table.length < speaker_num) {
            return "【配音人数】不能低于【说话人数量】";
          }
        },
      });

      // =======================================

      // 视频上传
      tool.upload("#video_upload", "file/upload", 'file', 'mp4|mkv|avi|mp3|wav|m4a', null, function (response) {
        $('[name="video_url"]').val(response.data.location)
      })

      // 地区选择
      form.on('select(locale_filter)', function (data) {
        if (data.elem.value != "") {
          form_json.locale = data.elem.value;
          form_json.tts_gender = 1;
          // 恢复默认选择
          $('input[name="tts_gender"][value="1"]').prop('checked', true);
          form.render('radio');
          // 切换语音角色
          tts.setData(form_json, cache_table)
          if (form_json.llm_provider == 'ignore') {
            return layer.msg('请选择翻译提供商', { icon: 3 });
          }
          // 切换试听文本
          tool.post("trans/translator", JSON.stringify({
            "provider": form_json.llm_provider,
            "model": $('input[name="llm_model"]').val(),
            "language": form_json.locale,
            "text": $("#tts_text").val(),
            "extra": {
              "temperature": $('input[name="llm_temperature"]').val(),
              "top_p": $('input[name="llm_top_p"]').val(),
              "debug": $('input[name="llm_debug"]').is(':checked'),
              "cache": $('input[name="llm_use_cache"]').is(':checked')
            },
          }), function (response) {
            form_json.tts_text = response.data;
            $("#tts_text").val(form_json.tts_text)
          }, true);
        }
      });

      // 处理模式
      form.on('radio(mode_type_filter)', function (data) {
        $('#align_type_div').toggleClass('layui-hide', data.elem.value != 1);
      });

      // 提交执行
      form.on('submit(form_submit)', function (data) {
        var field = data.field;
        var elem = data.elem;
        // 本地存储
        layui.data(CREATORBOX, { key: 'form', value: field });
        // 配音
        field.tts_dubbing = JSON.stringify(cache_table);
        // 样式
        field.draft_style = JSON.stringify({
          "subtitle": { "text_size": field.draft_style_nts, "text_color": field.draft_style_ntc, "text_border_color": field.draft_style_ntbc, "text_border_width": field.draft_style_ntbw, "text_transform_y": field.draft_style_nty },// 原声
          "subtitle_dub": { "text_size": field.draft_style_dts, "text_color": field.draft_style_dtc, "text_border_color": field.draft_style_dtbc, "text_border_width": field.draft_style_dtbw, "text_transform_y": field.draft_style_dty },// 配音
        });
        // 请求数据
        data = JSON.stringify(field, null, 2);
        console.debug(field)
        // 确认执行
        layer.confirm('确定执行吗？', { title: '提示', icon: 3 }, function (index) {
          layer.close(index);
          // 禁用预览
          $("button[lay-on='video_preview']").addClass("layui-btn-disabled").prop("disabled", true);
          // 请求调用
          tool.post("dubb/pipeline", data, function (response) {
            console.debug(response.data)
            var taskId = response.data.task_id
            toast.info(taskId, "任务提交成功");
            // 任务存储
            localStorage.setItem('task', taskId)
          }, true)
        });
        return false;
      });

      // 回调通知
      tool.connect(function (data) {
        if (data.type == "video") {
          console.debug(data.message);
          toast.success(localStorage.getItem('task'), "任务处理成功");
          // 开启预览
          $("button[lay-on='video_preview']").removeClass("layui-btn-disabled").prop("disabled", false);
        }
        else if (data.type == "masker") {
          toast.info(data.message);
        }
        else if (data.type == "error") {
          toast.error(data.message, "任务处理异常");
        }
      })

      // 预览事件
      util.on('lay-on', {
        "video_preview": function (othis) {
          tool.open("player?url=" + localStorage.getItem('task') + "&autoplay=true", "1100px", "510px");
        }
      });

      // 固定条
      var bars = [
        { type: '数据', icon: 'layui-icon-fonts-code' },
        { type: '播放', icon: 'layui-icon-video' },
        { type: '备份', icon: 'layui-icon-export' }
      ];
      util.fixbar({
        bars: bars,
        bar1: false,
        bar2: false,
        bgcolor: '#393D52',
        css: { bottom: 80 },
        on: {
          mouseenter: function (desc) {
            layer.tips(desc, this, {
              tips: 4,
              fixed: true
            });
          },
          mouseleave: function (type) {
            layer.closeAll('tips');
          }
        },
        click: function (type) {
          if (type == "日志") {
            util.openWin({ url: "log" });
          }
          else if (type == "数据") {
            filename = $("#video_url").val().split(/[/\\]/).pop().split(".")[0];
            if (filename == "") {
              return layer.msg('请先选择文件', { icon: 3 });
            }
            suf = $("#suffix").val();
            if (suf == "") {
              return layer.msg('请先输出标识', { icon: 3 });
            }
            title = `{{ data.app.title }} - ${filename}_${suf}`;
            util.openWin({ url: `editor?title=${title}&upload=file/upload&remote=file/local?url=webapp/temp/${filename}/${filename}_${suf}.json` });
          }
          else if (type == "播放") {
            if (localStorage.getItem('task', '').length > 0) {
              tool.open("player?url=" + localStorage.getItem('task') + "&autoplay=true", "1100px", "510px");
            } else {
              util.openWin({ url: "player?url=&autoplay=true" });
            }
          }
          else if (type == "备份") {
            layer.confirm('请选择？', { title: '提示', icon: 3, btn: ['备份', '导入', '取消'] }, function (index) {
              filename = $("#video_url").val().split(/[/\\]/).pop().split(".")[0];
              cache = layui.data(CREATORBOX)
              cache.version = '{{ data.app.version }}'
              if (!cache.hasOwnProperty('form')) {
                return layer.msg('请先执行', { icon: 3 });
              } else if (!cache.hasOwnProperty('table')) {
                return layer.msg('请先试听', { icon: 3 });
              }
              tool.download("dubb/export", JSON.stringify(cache), filename)
            }, function () {
              tool.upload("#import", "dubb/import", 'file', 'zip', null, function (response) {
                if (response.code != 0) {
                  return toast.error(response.message, "提示");
                }
                layer.msg('即将刷新此页面', { icon: 1 });
                layui.data(CREATORBOX, { key: 'form', value: response.data.form })
                layui.data(CREATORBOX, { key: 'table', value: response.data.table })
                setTimeout(function () {
                  tool.refresh()
                }, 2 * 1000)
              })
              $("#import").click();
            }, function () { });
          }
        }
      });

      // =======================================

      util.event('lay-header-event', {
        menuLeft() {
          $('body').toggleClass('collapse');
        },
        menuRight() { },
      });

      element.on('nav(nav-side)', function (elem) {
        var path = elem.data('path');
        if (path) {
          // if ($(window).width() <= 768) {
          //   $('body').toggleClass('collapse');
          // }
          if (path == "/app/masker") {
            tool.get(path, {}, null, true)
          } else {
            util.openWin({ url: path, target: "creatorbox" });
          }
        }
      });
    });

  </script>
  <script src="static/js/creatorbox/theam.js"></script>

</body>

</html>