<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <title>CreatorBox</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jquery -->
  <script src="static/js/jquery/jquery.min.js"></script>
  <script src="static/js/howler/howler.min.js"></script>
  <!-- nprogress -->
  <link href="static/js/nprogress/nprogress.min.css" rel="stylesheet">
  <script src="static/js/nprogress/nprogress.min.js"></script>
  <!-- layui -->
  <link href="static/js/layui/css/layui.css" rel="stylesheet">
  <link href="static/js/layui/css/layui-dark.css" rel="stylesheet">
  <script src="static/js/layui/layui.js"></script>
  <!-- creator -->
  <script src="static/js/creator/creator.js"></script>
</head>

<body>
  <div class="layui-layout layui-layout-admin">

    <!-- 顶部区域 -->
    <div class="layui-header">
      <ul class="layui-nav layui-layout-left">1
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a id="change-theme" style="background-color: unset">
            <i class="layui-icon layui-icon-theme" style="font-size: 20px"></i>
          </a>
        </li>
        <li class="layui-nav-item">
          <a href="/docs#" target="_blank" style="background-color: unset">
            <i class="layui-icon layui-icon-code-circle" style="font-size: 20px"></i>
          </a>
        </li>
        <li class="layui-nav-item">
          <a href="https://github.com/xiesx123/CreatorBox" target="_blank" style="background-color: unset">
            <i class="layui-icon layui-icon-github" style="font-size: 20px"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- 主体区域 -->
    <div class="layui-body" style="left: 0;">
      <div style="padding: 15px">

        <form class="layui-form layui-form-pane" lay-filter="form_filter">
          <div class="layui-row layui-col-space15">

            <!-- 大模型 -->
            <div class="layui-col-md12">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">大模型</div>
                <div class="layui-card-body">

                  <div class="layui-form-item">
                    <label class="layui-form-label">提供商</label>
                    <div class="layui-input-block">
                      <select name="llm_provider" lay-verify="required" lay-filter="llm_provider_filter">
                        <option value=""></option>
                        {% for item in data.llm.providers %}
                        <option value="{{ item.provider}}" {% if not item.enable %}disabled{% endif %}>
                          {{ item.provider }} - {{ '已配置' if item.valid else '未配置' }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">模型</label>
                    <div class="layui-input-block">
                      <input type="text" name="llm_model" lay-verify="required" placeholder="请输入模型名称" value=""
                        autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- 转录 -->
            <div class="layui-col-md6">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">转录</div>
                <div class="layui-card-body">
                  <div class="layui-form-item">
                    <label class="layui-form-label">模型</label>
                    <div class="layui-input-block">
                      <select name="whisper_module" lay-verify="required" lay-search>
                        <option value="">选择或搜索</option>
                        {% for item in data.whisper.models %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">随机性</label>
                    <div class="layui-input-block">
                      <select name="whisper_temperature" lay-verify="required" lay-search>
                        <option value="">选择或搜索</option>
                        {% for item in data.whisper.temperatures %}
                        <option value="{{ item.val }}">{{ item.desc }} - {{ item.val }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">准确性</label>
                    <div class="layui-input-block">
                      <select name="whisper_beam_size" lay-verify="required" lay-search>
                        <option value="">选择或搜索</option>
                        {% for item in data.whisper.beam_sizes %}
                        <option value="{{ item.val }}">{{ item.desc }} - {{ item.val }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">连贯性</label>
                    <div class="layui-input-block">
                      <select name="whisper_chunk_length" lay-verify="required" lay-search>
                        <option value="">选择或搜索</option>
                        {% for item in data.whisper.chunk_lengths %}
                        <option value="{{ item.val }}">{{ item.desc }} {{ item.duration }} - {{ item.val }}s
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">过滤无声</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="whisper_vad_filter" lay-skin="switch">
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- 语音 -->
            <div class="layui-col-md6">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">语音</div>
                <div class="layui-card-body">
                  <div class="layui-form-item">
                    <label class="layui-form-label">地区</label>
                    <div class="layui-input-block">
                      <select name="tts_locale" lay-verify="required" lay-filter="tts_locale_filter">
                        <option value="">选择或搜索</option>
                        {% for item in data.tts.locales %}
                        <option value="{{ item.Locale }}">{{ item.Name }} - {{ item.Locale }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>


                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="tts_gender" value="1" lay-filter="tts_gender_filter" title="男">
                      <input type="checkbox" name="tts_gender" value="2" lay-filter="tts_gender_filter" title="女">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">语音</label>
                    <div class="layui-input-block">
                      <select name="tts_voice" lay-verify="required" lay-filter="tts_voice_filter" lay-search>
                        <option value="">选择或搜索</option>
                      </select>
                    </div>
                  </div>

                  <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label" id="tts_play">试听 <i
                        class="layui-icon layui-icon-headset"></i></label>
                    <div class="layui-input-block">
                      <textarea id="tts_demo" name="tts_demo" placeholder="请输入试听文本" lay-verify="required"
                        lay-reqtext="请输入试听文本" lay-affix="clear" class="layui-textarea tts_demo"
                        style="min-height: 53px; height: 53px;"></textarea>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- 说话人 -->
            <div class="layui-col-md6">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">说话人</div>
                <div class="layui-card-body">

                  <div class="layui-form-item">
                    <label class="layui-form-label">数量</label>
                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required|number" name="speaker_num" placeholder="目标值"
                        autocomplete="off" class="layui-input" min="1" max="10" step="1" lay-affix="number">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">区间</label>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="number" lay-verify="required|number" name="speaker_min" placeholder="最小值"
                        autocomplete="off" class="layui-input" min="1" max="10" step="1" lay-affix="number">
                    </div>
                    <div class="layui-input-inline" style="width: auto;">
                      <input type="number" name="speaker_max" placeholder="最大值" autocomplete="off" class="layui-input"
                        min="1" max="10" step="1" lay-affix="number">
                    </div>

                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '              数量：当确定说话人数量时使用<BR>              区间：当不确定说话人数量时使用<BR>                优先级：<BR>                  1.num 在 min - max 之间，则 num 生效。<BR>                  2.num  <= min，则 min 生效。<BR>                   3.num >= max，则 max 生效。<BR>                  值越大聚合越慢', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 其他 -->
            <div class="layui-col-md12">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">其他</div>
                <div class="layui-card-body">

                  <div class="layui-form-item">
                    <label class="layui-form-label">静音检测</label>
                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="silence_threshold" placeholder="检测阈值"
                        autocomplete="off" class="layui-input" min="-100" max="0" step="10" lay-affix="number">
                    </div>
                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="silence_min" placeholder="静音长度"
                        autocomplete="off" class="layui-input" min="10" max="100" step="10" lay-affix="number">
                    </div>
                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="silence_dynamic" placeholder="动态补偿"
                        autocomplete="off" class="layui-input" min="0.1" max="1" step="0.1" lay-affix="number">
                    </div>
                    <div class="layui-form-mid layui-text-em">
                      <i class="layui-icon layui-icon-tips"
                        lay-tips="{content: '检测阈值：低于某个阈值则认为是静音<BR>静音长度：最小长度<BR>动态补偿：静音长度的补偿值', margin: '0 0 0 -10px'}"></i>
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">处理模式</label>
                    <div class="layui-input-block">
                      <input type="radio" name="mode_type" value="1" title="翻译" checked>
                      <input type="radio" name="mode_type" value="2" title="配音">
                      <input type="radio" name="mode_type" value="3" title="解说" disabled>
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">对齐方式</label>
                    <div class="layui-input-block">
                      <input type="radio" name="assign_type" value="1" title="视频">
                      <input type="radio" name="assign_type" value="2" title="音频">
                      <input type="radio" name="assign_type" value="0" title="自适应" checked>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">说话音量</label>
                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="volume_voice" placeholder="说话音量"
                        autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">背景音量</label>
                    <div class="layui-input-inline">
                      <input type="number" lay-verify="required" name="volume_background" placeholder="最小值"
                        autocomplete="off" class="layui-input" min="0" max="1" step="0.1" lay-affix="number">
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">监控进度</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="show_progress" lay-skin="switch">
                    </div>
                  </div>

                  <div class="layui-form-item" pane>
                    <label class="layui-form-label">是否重构</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="rebuild" lay-skin="switch" lay-filter="switch_rebuild_filter">
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- 视频 -->
            <div class="layui-col-md12">
              <div class="layui-card layui-panel">
                <div class="layui-card-header">视频</div>
                <div class="layui-card-body">

                  <div class="layui-form-item">
                    <label class="layui-form-label">链接</label>
                    <div class="layui-input-block">
                      <input type="text" name="url" lay-verify="required" placeholder="请输入视频本地地址、网络链接"
                        autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <div class="layui-upload-drag" style="display: block;" id="video_upload_drag">
                      <i class="layui-icon layui-icon-upload"></i>
                      <div>或将本地文件拖拽到此处</div>
                      <div class="layui-hidd layui-progress layui-progress" lay-showPercent="yes"
                        lay-filter="progress_filter">
                        <div class="layui-progress-bar" lay-percent=""></div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <!-- 按钮 -->
            <div class="layui-col-md12">
              <div class="layui-card layui-panel">
                <div class="layui-card-body">
                  <div class="layui-form-item layui-col-space15">
                    <!-- <div class="layui-col-md4">
                      <button type="reset" class="layui-btn layui-btn-primary layui-btn-fluid">重置</button>
                    </div> -->
                    <div class="layui-col-md6">
                      <button type="submit" class="layui-btn layui-btn-blue layui-btn-fluid" lay-submit
                        lay-filter="form_submit">提交</button>
                    </div>
                    <div class="layui-col-md6">
                      <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid layui-btn-disabled"
                        lay-on="video_preview" disabled>预览</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </form>

      </div>

    </div>

  </div>

  <script>

    layui.use(['form', 'layer', 'element', 'upload', 'util', 'notice', 'tool'], function () {

      var layer = layui.layer;
      var element = layui.element;
      var form = layui.form;
      var upload = layui.upload;
      var util = layui.util;
      var toast = layui.notice;
      var tool = layui.tool;
      var $ = layui.$;

      var llm_providers = JSON.parse('{{ data.llm.providers | tojson }}')

      var form_json = JSON.parse('{{ data.form | tojson }}')

      var history_voice_url = {};

      var task_id = "webapp\\upload\\4d8fb0cecfae2248c8d4d3a4451fbe86.mp4";

      // 表单渲染
      form.val('form_filter', form_json);

      // 语音-地区选择
      form.on('select(tts_locale_filter)', function (data) {
        if (data.elem.value != "") {
          form_json.tts_locale = data.elem.value;
          form_json.tts_gender = 0;
          $('input[name="tts_gender"]').prop('checked', false);
          // 切换语音角色
          tool.get("/tts/search", voice_search_params(form_json.tts_locale, form_json.tts_gender), voice_search_callback, false);
          // 切换试听文本
          tool.post("/trans/translator", JSON.stringify({
            "llm_provider": form_json.llm_provider,
            "llm_model": form_json.llm_model,
            "language": form_json.tts_locale,
            "text": $("#tts_demo").val()
          }), function (response) {
            form_json.tts_demo = response.data;
            $("#tts_demo").val(form_json.tts_demo)
          }, true);
        }
      });

      // 语音-性别选择
      form.on('checkbox(tts_gender_filter)', function (data) {
        var mChecked = $("input[name='tts_gender'][value='1']").prop('checked');
        var fChecked = $("input[name='tts_gender'][value='2']").prop('checked');
        if ((!mChecked && !fChecked) || (mChecked && fChecked)) {
          form_json.tts_gender = 0;
        } else if (mChecked) {
          form_json.tts_gender = 1;
        } else if (fChecked) {
          form_json.tts_gender = 2;
        }
        tool.get("/tts/search", voice_search_params(form_json.tts_locale, form_json.tts_gender), voice_search_callback, true)
      });

      // 语音-语音选择
      form.on('select(tts_voice_filter)', function (data) {
        form_json.tts_voice = data.elem.value;
        console.log(form_json.tts_gender + "-" + form_json.tts_voice);
      });

      // 语音-试听点击
      util.on('id', {
        "tts_play": function (othis) {
          var isvalid = form.validate('.tts_demo');
          if (isvalid) {
            var url = history_voice_url[form_json.tts_voice]
            if (url != null) {
              voice_auto_play(url);
            } else {
              tool.post("/tts/generate", JSON.stringify({
                "text": $("#tts_demo").val(),
                "voice": form_json.tts_voice,
                "volume": "+0%",
                "rate": "+0%",
                "pitch": "+0Hz",
                "output": "tts_" + Date.now()
              }), function (response) {
                console.log(JSON.stringify(response, null, 2))
                var url = '/loader/local?file_path=' + response.data.path;
                history_voice_url[form_json.tts_voice] = url
                console.log(url);
                voice_auto_play(url);
              }, true)
            }
          }
        }
      });

      // 语音-搜索回调
      var voice_search_callback = function (response) {
        // 清空原有选项
        $("select[name='tts_voice']").empty();
        toast.success(response.data.length + "条记录")
        response.data.forEach(function (item) {
          $("select[name='tts_voice']").append('<option value="' + item.ShortName + '">' + (item.Gender === "Male" ? "男" : "女") + " " + item.ShortName + '</option>');
        });
        // 默认选择第一个
        form_json.tts_voice = response.data[0].ShortName;
        console.log(form_json.tts_gender + "-" + form_json.tts_voice);
        // 重绘
        form.render();
      };

      var voice_search_params = (locale, gender) => {
        return { "locale": locale, "gender": gender };
      };

      // 音频-播放
      var voice_auto_play = function (url) {
        sound = new Howl({
          src: [url],
          format: ['wav'],
          html5: true,
          onload: function () {
            console.log('audio loaded');
            sound.play();
          },
          onplay: function () {
            console.log('audio playing');
          },
          onpause: function () {
            console.log('audio paused');
          },
          onstop: function () {
            console.log('audio stopped');
          },
          onend: function () {
            console.log('audio ended');
          },
        });
      };

      // 语音-默认
      tool.get("/tts/search", voice_search_params(form_json.tts_locale, form_json.tts_gender), voice_search_callback, true)

      // 大模型-提供商选择
      form.on('select(llm_provider_filter)', function (data) {
        if (data.elem.value == 0) {
          return $('input[name="llm_model"]').val("");;
        }
        const findItemByProvider = (provider) => {
          return llm_providers.find(item => item.provider.toLowerCase() === provider.toLowerCase());
        };
        item = findItemByProvider(data.elem.value);
        form_json.llm_provider = item.provider;
        form_json.llm_model = item.model;
        $('input[name="llm_model"]').val(form_json.llm_model);
        form.render();
      });

      // 视频-上传
      upload.render({
        elem: '#video_upload_drag',
        url: 'loader/upload',
        accept: 'video',
        acceptMime: 'video/mp4',
        before: function (obj) {
          element.progress('progress_filter', '0%');
          layer.msg('上传中', { icon: 16, time: 0 });
        },
        progress: function (n, elem, e) {
          element.progress('progress_filter', n + '%');
          if (n == 100) {
            layer.msg('上传完毕', { icon: 1 });
          }
        },
        done: function (response) {
          console.log(JSON.stringify(response, null, 2))
          if (response.code > 0) {
            return toast.error('上传失败');
          }
          layer.msg('上传成功');
          $('[name="url"]').val(response.data.location)
        },
        error: function () {
          toast.error('上传失败');
        }
      });

      // 是否重构开关事件
      form.on('switch(switch_rebuild_filter)', function (data) {
        if (this.checked) {
          toast.warning("开启");
          layer.tips('注意：开启重构则会删除缓存重新执行', data.othis)
        } else {
          toast.success("关闭");
        }
      });

      // 提交事件
      form.on('submit(form_submit)', function (data) {
        var field = data.field;
        var elem = data.elem;
        var elemForm = data.form;
        // 确认提示框
        layer.confirm('确定提交吗？', function (index) {
          layer.close(index);
          data = JSON.stringify(field, null, 2);
          console.log(data)
          // 禁用预览
          $("button[lay-on='video_preview']").addClass("layui-btn-disabled").prop("disabled", true);
          // 请求调用
          tool.post("/video/translate", data, function (response) {
            task_id = response.data.task_id;
            console.log(JSON.stringify(response, null, 2))
          }, true)
        });
        return false;
      });

      // 处理通知
      tool.connect(function (data) {
        data = JSON.parse(event.data)
        if (data.type == "video") {
          console.log(data.message);
          // 开启预览
          $("button[lay-on='video_preview']").removeClass("layui-btn-disabled").prop("disabled", false);
        }
      })

      // 预览事件
      util.on('lay-on', {
        "video_preview": function (othis) {
          tool.open("player?url=" + task_id, "1100px", "510px");
        }
      });

      // 指示条
      $(document).on("mouseenter", "*[lay-tips]", function () {
        var e = $(this),
          i = lay.options(this, {
            attr: "lay-tips"
          }),
          t = layer.tips(i.content, this, {
            tips: i.direction || 1,
            time: -1,
            success: function (e, t) {
              e.css("margin", i.margin)
            }
          });
        e.data("index", t)
      }).on("mouseleave", "*[lay-tips]", function () {
        layer.close($(this).data("index"))
      });

      // 固定条
      util.fixbar({
        bars: [{
          type: 'log',
          icon: 'layui-icon-log'
        }, {
          type: 'player',
          icon: 'layui-icon-video'
        }],
        bar1: false,
        bar2: false,
        bgcolor: '#393D52',
        on: {
          mouseenter: function (desc) {
            layer.tips(desc, this, {
              tips: 4,
              fixed: true
            });
          },
          mouseleave: function (type) {
            layer.closeAll('tips');
          }
        },
        click: function (type) {
          if (type == "log") {
            util.openWin({
              url: "log"
            });
          } else if (type == "player") {
            util.openWin({
              url: "player"
            });
          }
        }
      });
    });

  </script>

  <script src="static/js/creator/theam.js"></script>

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?0f28a627b93e9c2e599680e1827e1314";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>

</html>